@import "~sass/variables";
@import "~sass/mixins";

.container-fluid {
  padding: 0px;
}

.dark-bcgd {
  float: left;
  width: 100%;
  >form {
    background: rgb(27, 27, 27);
    >p {
      color: $color_white;
      margin-left: 35px;
      padding-top: 15px;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}

.state-city-drpdwn {
  select {
    outline: none;
    font-size: 16px;
    color: $background_color_light;
    padding: 10px;
    border: 1px solid $background_color_light;
    width: 100%;
  }
}

.map-section {
  position: relative;
  color: $color_black;
  .fa-location-arrow {
    position: absolute;
    top: 20px;
    right: 17px;
    background: $color_white;
    cursor: pointer;
    z-index: 1;
    border: 6px solid $color_white;
  }
  agm-map {
    height: 400px;
  }
  .map-loader {
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 0px;
    .small-loader {
      border: 6px solid $color_white;
      border-top: 6px solid $color_lightorange;
      width: 40px;
      height: 40px;
      top: 45%;
      right: 50%;
    }
  }
}

.enter-id-sec {
  margin: 0px;
  padding: 0px 15px 20px 15px;
  select {
    outline: none;
    font-size: 16px;
    color: $background_color_light;
    padding: 10px;
    border: 1px solid $background_color_light;
    width: 100%;
    height: 45px;
  }
  .other-swap-selected {
    .mat-form-field {
      width: 35%;
    }
    .mat-form-field-type-mat-input {
      width: 65%;
      border-left: 0px;
    }
  }
  .primary-btn {
    width: 80%;
    @include mqueryipad(768px, 1024px) {
      margin-top: 20px;
      width: 100%;
    }
    @include mqueryphone(320px, 767px) {
      margin-top: 20px;
      width: 100%;
    }
  }
}

.site-reservation-cart-sec {
  margin: 20px 0 0 0;
  padding: 0px 15px;
  background: $color_iron;
  @include mqueryphone(320px, 767px) {
    padding: 0px;
  }
  h3 {
    padding-top: 15px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .note {
    margin-bottom: 15px;
    font-weight: bold;
  }
  .search-item {
    padding: 0;
    margin: 0 0 20px 0;
    background: rgb(216, 216, 216);
    .site-details-con {
      background: $color_white;
      padding: 15px;
      position: relative;
      .glyphicon-remove {
        position: absolute;
        right: 2%;
        top: 10%;
        z-index: 1;
        cursor: pointer;
      }
      agm-map {
        height: 170px;
      }
      h3 {
        color: $color_black;
      }
      .view-details-left-sec {
        span {
          display: block;
          color: $color_black;          
          font-size: 14px;
          letter-spacing: 0.5px;
        }
      }
      .view-details-right-sec {
        ol {
          padding-left: 15px;
          li {
            color: $color_black;
            font-weight: 600;
            font-size: 14px;
            a {
              color: $color_brightorange;
              font-size: 14px;
            }
          }
        }
        .primary-btn {
          margin-top: 20px;
          padding: 5px 10px;
        }
      }
    }
  }
  .remove-site-sec {
    text-align: center;
    >a {
      font-size: 3em;
      font-family: sans-serif;
      margin-top: 50%;
      color: $color_brightorange;
      display: inline-block;
      @include mqueryphone(320px, 767px) {
        margin-top: 80%;
      }
    }
    >p {
      margin-top: -18px;
      z-index: -1;
      color: $color_black;
      cursor: pointer;
    }
  }
}

.review-order-btn-container {
  padding: 0px 0px 20px 30px;
  background: $color_iron;
  @include mqueryphone(320px, 767px) {
    padding: 0px 0px 20px 0px;
  }
  .primary-btn {
    @include mqueryipad(768px, 1024px) {
      width: 50%;
    }
    @include mqueryphone(320px, 767px) {
      width: 80%;
      margin-left: 10%;
    }
  }
}

.waitListSuccessMsg {
  font-size: 18px;
  color: $color_lightorange;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding-left: 15px;
  margin-bottom: 20px;
  font-weight: 700;
  .glyphicon-ok {
    color: $color_green;
    margin-right: 5px;
    font-size: 1.2em;
  }
}
