<div class="container-fluid">
  <app-header-new [sitesZeroCartCount]=sitesZeroCartCount></app-header-new>

  <site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>

  <div class="loader-bg" [hidden]="!showLoader"></div>
  <div class="loader" [hidden]="!showLoader"></div>

  <div class="container-body">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-heading">
      <h1>Site Swap Alternatives</h1>
      <p>Search for available site alternatives, view site details, price and request to swap</p>
    </div>

    <div class="dark-bcgd unicorn-dark-theme">
      <form (ngSubmit)="addChosenSite()" #siteSearchForm="ngForm">
        <p>Swapping for Site # {{swappedOldSite}} at {{selectedCityText}}, {{selectedStateText}}</p>

        <div class="row enter-id-sec">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" [ngClass]="{'other-swap-selected':swapReasonSelected == 'Other'}">
            <mat-form-field>
              <mat-select name="swapReasonSelected" #reasonCodeEl placeholder="Select Swap Reason Code" [(ngModel)]="swapReasonSelected" required>
                <mat-option value="Circuit not workable">Circuit not workable</mat-option>
                <mat-option value="Structural concerns">Structural concerns</mat-option>
                <mat-option value="Fiber/utility connection issue">Fiber/utility connection issue</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
              <mat-error>Swap reason code is required</mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="swapReasonSelected == 'Other'">
              <input matInput placeholder="" required [(ngModel)]="swapReasonFreeText" name="swapReasonFreeText">
              <mat-error>Swap reason code is required</mat-error>
            </mat-form-field>

            <!-- <div class="custom-arrow-select" [ngClass]="{'other-swap-selected':swapReasonSelected == 'Other'}">
              <select [(ngModel)]="swapReasonSelected" (change)="swapReasonError = false" name="swapReasonSelected" required>
                <option value="">Select Swap Reason Code</option>
                <option value="Circuit not workable">Circuit not workable</option>
                <option value="Structural concerns">Structural concerns</option>
                <option value="Fiber/utility connection issue">Fiber/utility connection issue</option>
                <option value="Other">Other</option>
              </select>
              <i class="fa fa-angle-down"></i>
              <input type="text" *ngIf="swapReasonSelected == 'Other'" required [(ngModel)]="swapReasonFreeText" name="swapReasonFreeText">
              <span class="text-danger searchSiteError" [hidden]="!swapReasonError">Swap reason code is required</span>
            </div> -->
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <mat-form-field>
              <input matInput placeholder="Enter New Site ID" [(ngModel)]="selectedSiteId"
                name="siteId" [disabled]="chosenSites.length>0" pattern="^[a-zA-Z0-9]{9}" required maxlength="9">
              <mat-hint>Please enter 9 characters of a valid Site ID</mat-hint>
              <!-- <mat-error>
                  Please enter 9 characters of a valid Site ID
              </mat-error> -->
            </mat-form-field>
            
            <!-- <input type="text" autocomplete="off" [disabled]="chosenSites.length>0" #siteId="ngModel" maxlength="120" (keyup)="validateSiteField(siteId)"
              required name="siteId" [(ngModel)]="selectedSiteId" pattern="^[,a-zA-Z0-9\s]+" placeholder="Enter New Site ID">
            <span class="text-danger searchSiteError" [hidden]="!siteIdError">{{siteIdErrorText?"Please enter 9 characters of a new valid Site ID":"One site can be swapped at a time"}}</span> -->
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <button type="button" (click)="addChosenSite()" [disabled]="!siteSearchForm.valid || siteIdError" [class.disabled-btn]="!siteSearchForm.valid || siteIdError" class="primary-btn new-btn-dark-back">
              <span class="glyphicon glyphicon-plus"></span> Add Site To Cart</button>
          </div>
        </div>
      </form>

      <div class="map-section">
        <i class="fas fa-location-arrow" title="reset map location" (click)="mapReset()"></i>
        <agm-map [latitude]="lat" [longitude]="lng" (mapReady)="mapReady($event)" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
          <agm-marker *ngFor="let m of markers" [latitude]="m.lat" (markerClick)="markerClicked(m)" [iconUrl]="m.sku==swappedOldSite?'https://maps.google.com/mapfiles/ms/icons/blue-dot.png':m.sChk=='UA'?'assets/greyMarker1.png':m.sChk=='RS'?'https://maps.google.com/mapfiles/ms/icons/red-dot.png':'https://maps.google.com/mapfiles/ms/icons/green-dot.png'"
            [longitude]="m.long">
          </agm-marker>

          <agm-info-window (infoWindowClose)="infoWindowClose($event)" [latitude]="markerInfoWindowObj.markerInfoWindowLat" [longitude]="markerInfoWindowObj.markerInfoWindowLng"
            [isOpen]="infoWindowIsOpen" #infoWindow>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <agm-map #agmMapNested [latitude]="markerInfoWindowObj.markerInfoWindowLat" [longitude]="markerInfoWindowObj.markerInfoWindowLng"
                [zoom]="15">

                <agm-marker [latitude]="markerInfoWindowObj.markerInfoWindowLat" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'"
                  [longitude]="markerInfoWindowObj.markerInfoWindowLng">

                  <agm-info-window [isOpen]="markerInfoWindowSkuIsOpen">
                    <strong>{{markerInfoWindowObj.markerInfoWindowSku}}</strong>
                  </agm-info-window>

                </agm-marker>
              </agm-map>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 view-details-left-sec">
              <h3>{{selectedCityText}}, {{selectedStateText}}</h3>
              <span>Site Coordinates
                <br> ({{markerInfoWindowObj.markerInfoWindowLat}} , {{markerInfoWindowObj.markerInfoWindowLng}})</span>
              <span class="site-Details-loctype">Location Type ({{markerInfoWindowObj.markerInfoWindowLocationType}})</span>
              <span class="site-Details-type">Type ({{markerInfoWindowObj.markerInfoWindowPoleType}})</span>
              <span>Electrical Services (Yes)</span>
              <button class="primary-btn new-btn-light-back no-arrow-ani" *ngIf="markerInfoWindowObj.markerInfoWindowStatus=='AV' && markerInfoWindowObj.markerInfoWindowSku != swappedOldSite" (click)="addSIteFromMap()"
                type="button">
                <span class="glyphicon glyphicon-plus"></span> Add Site To Cart
              </button>
            </div>
          </agm-info-window>
        </agm-map>
        <div *ngIf="mapLoading" class="map-loader">
          <div class="loader small-loader"></div>
        </div>
      </div>



      <div class="row site-reservation-cart-sec" *ngIf="chosenSites.length > 0 || allSitesAddedToWaitListFlag">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>Site Reservation Cart</h3>
          <p class="note">Note: Swapping for alternate site during this step does not guarantee reservation. Sites are available to other users until
            reservation is confirmed in next steps.</p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search-item" *ngFor="let site of chosenSites; let index=index">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 site-details-con">
            <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3">
              <agm-map [latitude]="site.x" [longitude]="site.y" [zoom]="13">

                <agm-marker [latitude]="site.x" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'" [longitude]="site.y">

                  <agm-info-window>
                    <strong>{{site.uniqueId}}</strong>
                  </agm-info-window>

                </agm-marker>
              </agm-map>
            </div>

            <div class="col-xs-5 col-sm-7 col-md-8 col-lg-8 view-details-left-sec">
              <h3>Site ID # {{site.uniqueId}}</h3>
              <span>{{selectedCityText}}, {{selectedStateText}}</span>
              <span>Site Coordinates
                <br> ({{site.x}} , {{site.y}})</span>
              <span class="site-Details-loctype">Location Type ({{site.location_type}})</span>
              <span class="site-Details-type">Type ({{site.pole_type}})</span>
              <span>Electrical Services (Yes)</span>
            </div>

            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 remove-site-sec">
              <a (click)="removeSite(site)" href="javascript:void(0)">X</a>
              <p (click)="removeSite(site)">remove</p>
            </div>

          </div>
        </div>

        <p *ngIf="allSitesAddedToWaitListFlag && chosenSites.length == 0" class="waitListSuccessMsg">
          <span class="glyphicon glyphicon-ok"></span> Site(s) added to Waitlist. You can check all your waitlist sites in
          <a href="javascript:void(0)" [routerLink]="['/site/wait-list']">My Waitlist</a>
        </p>
      </div>

      <div class="review-order-btn-container" *ngIf="chosenSites.length > 0">
        <a href="javascript:void(0)" *ngIf="checkAllSitesReservedFlag() == true" (click)="reserveSites($event)" class="primary-btn new-btn-light-back">Swap Site</a>
        <a href="javascript:void(0)" *ngIf="checkAllSitesReservedFlag() == false" (click)="addAllSitesToWaitList($event)" class="primary-btn new-btn-light-back">Add Sites to Waitlist</a>
      </div>
    </div>
    <div class="clearfix"></div>

  </div>
  <site-selex-footer></site-selex-footer>
</div>
