@include animation(spin) {
	0% {  
		transform: rotate(0deg);  
	}
	100% {	
		transform: rotate(360deg);	
	}
}
html {
	height: 100%;
	font-size: 100%;
	font-family: $font_family_oswald_sans;
}
body {
	font-size: 100%;
	font-family: $font_family_oswald_sans;
	background-color: $color_alabaster;
	// background-size: cover;
	// background-position: center;
	min-height: 100%;
	position: relative;
	a {
		&:hover {
			text-decoration: none;
		}
	}
}
p {
	margin: 0;
	font-size: 15px;
}
a {
	font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
input {
	&:invalid {
		box-shadow: none;
	}
}
input[type="color"] {
	font-size: 16px;
}
input[type="date"] {
	font-size: 16px;
}
input[type="datetime"] {
	font-size: 16px;
}
input[type="datetime-local"] {
	font-size: 16px;
}
input[type="email"] {
	font-size: 16px;
}
input[type="month"] {
	font-size: 16px;
}
input[type="number"] {
	font-size: 16px;
}
input[type="password"] {
	font-size: 16px;
}
input[type="search"] {
	font-size: 16px;
}
input[type="tel"] {
	font-size: 16px;
}
input[type="text"] {
	font-size: 16px;
	&:invalid {
		box-shadow: none;
		-webkit-box-shadow: none;
	}
}
input[type="time"] {
	font-size: 16px;
}
input[type="url"] {
	font-size: 16px;
}
input[type="week"] {
	font-size: 16px;
}
select {
	&:focus {
		font-size: 16px;
	}
	color: $color_white;
	background: $color_transparent;
	padding-right: 0.5em;
	outline: none;
	border: none;
	font-size: 15px;
}
textarea {
	font-size: 16px;
}

::-webkit-input-placeholder {
	color: $color_lightestgrey;
}
:-moz-placeholder {
	color: $color_lightestgrey;
	opacity: 1;
}
::-moz-placeholder {
	color: $color_lightestgrey;
	opacity: 1;
}
:-ms-input-placeholder {
	color: $color_lightestgrey;
}
::-ms-input-placeholder {
	color: $color_lightestgrey;
}
option {
	color: $color_grey;
}
.icon-truck {
	&:before {
		content: '';
		background: url(../assets/img-sp.png)no-repeat -17px -303px;
		display: block;
		width: 32px;
		height: 20px;
	}
}
.icon-envelope {
	&:before {
		content: '';
		background: url(../assets/img-sp.png)no-repeat -75px -309px;
		display: block;
		width: 27px;
		height: 25px;
	}
}
.icon-arrow-right {
	&:before {
		content: '';
		background: url(../assets/img-sp.png)no-repeat -117px -304px;
		display: block;
		width: 27px;
		height: 25px;
	}
}
.icon-remove {
	&:before {
		content: '';
		background: url(../assets/img-sp.png)no-repeat -171px -304px;
		display: block;
		width: 27px;
		height: 25px;
	}
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.display-inline-block {
	display: inline-block;
}
.display-block {
	display: block;
}
.cursor-pointer {
	cursor: pointer;
}
.width100 {
	width: 100%;
}
.mrgnBtm20 {
	margin-bottom: 20px;
}
.mrgnBtm25 {
	margin-bottom: 25px;
}
.mrgnTop15 {
	margin-top: 15px;
}
.mrgnTop30 {
	margin-top: 30px;
}
.mrgnRight10 {
	margin-right: 10px;
}
.bold {
	font-weight: 700;
}
.textCenter {
	text-align: center;
}
.displayDesktop {
	display: block;
}
.displayMobile {
	display: none;
}
.showdesktop {
	display: block !important;
	visibility: visible;
	height: auto;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}
.showmobile {
	display: none !important;
	visibility: hidden;
	height: 0;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.showondesktop {
	display: flex !important;
}
.showonmobile {
	display: none !important;
}
.remove-mrgn-left-right {
	margin-left: 0;
	margin-right: 0;
}
.pos-rel {
	position: relative;
}

@include mqueryipad(768px, 1024px) {
	.showdesktop {
		display: none !important;
		visibility: hidden;
		height: 0;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.showmobile {
		display: block !important;
		visibility: visible;
		height: auto;
		margin-top: 15px !important;
		margin-bottom: 15px !important;
	}
	.showondesktop {
		display: none !important;
	}
	.showonmobile {
		display: flex !important;
	}
	.displayDesktop {
		display: none !important;
	}
	.displayMobile {
		display: block;
	}
}
@include mqueryphone(320px, 767px) {
	.showdesktop {
		display: none !important;
		visibility: hidden;
		height: 0;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.showmobile {
		display: block !important;
		visibility: visible;
		height: auto;
		margin-top: 15px !important;
		margin-bottom: 15px !important;
	}
	.showondesktop {
		display: none !important;
	}
	.showonmobile {
		display: flex !important;
	}
	.displayDesktop {
		display: none !important;
	}
	.displayMobile {
		display: block;
	}
}
@media (max-width: 991px) {
	.showdesktop {
		display: none !important;
		visibility: hidden;
		height: 0;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.showmobile {
		display: block !important;
		visibility: visible;
		height: auto;
		margin-top: 15px !important;
		margin-bottom: 15px !important;
	}
	.showondesktop {
		display: none !important;
	}
	.showonmobile {
		display: flex !important;
	}
	.displayDesktop {
		display: none !important;
	}
	.displayMobile {
		display: block;
	}
}

div.ng2-auto-complete ul{
	max-height: 251px;
    overflow-y: scroll;
}

div.ng2-auto-complete ul li{
	color: $color_black;
	background: $color_white;
}