span.requiredFieldIndicatorSymbolColor {
  color: $color_red;
}

.flex-column-display {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: auto;
  // height: fit-content;
}

.flex-column-end {
  height: 66px;
  justify-content: flex-end;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
}

.white-bg-box {
  background-color: $color_white;
}

.smart-main {
  height: 100vh;
  // overflow: auto;
  padding: 0;
  margin: 0 auto;
  h6.title {
    font-size: 3em;
    text-align: center;
    color: $color_white;
    margin-bottom: 1em;
    @include mquery(768px) {
      font-size: 2.5em;
    }
    @include mquery(568px) {
      font-size: 2em;
    }
    @include mquery(384px) {
      font-size: 1.8em;
      margin-bottom: 0.5em;
    }
  }
}

span.text-success {
  color: $color_lightorange;
}

.headactive {
  color: $color_lightorange !important;
}

.navigation-bottom {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  @include mquery(800px) {
    width: 75%;
  }
  @include mquery(640px) {
    width: 85%;
  }
  @include mquery(480px) {
    width: 95%;
  }
}

.payment {
  h3 {
    padding: 10px 0 10px 0;
  }
  h2 {
    padding: 10px 0 10px 0;
  }
  background-color: $color_white;
  @include minmquery(992px) {
    width: 80%;
    margin: auto;
  }
}

.payment-right {
  background: $color_white;
  padding: 40px 30px 40px 20px;
  hr {
    margin-top: 3px;
    margin-bottom: 6px;
    border-bottom: solid 4px $color_brightorange;
    float: left;
    width: 100%;
  }
  @include mquery(991px) {
    padding-top: 0 26px 0 12px;
  }
}

.searcharea {
  select {
    outline: none;
    font-size: 16px;
    color: $color_white;
    padding: 10px;
    border: 1px solid $color_lightgrey;
    width: 100%;
    margin: 0;
    background: rgba(81, 81, 81, 0.53);
    height: 46px;
  }
  input[type="text"],
  input[type="file"] {
    outline: none;
    font-size: 16px;
    color: $color_white;
    padding: 10px;
    border: 1px solid $color_lightgrey;
    width: 100%;
    margin: 0;
    background: rgba(81, 81, 81, 0.53);
    height: 46px;
  }
  input[type="file"] {
    border: 0px;
    background: none;
  }
  a {
    color: $color_white;
  }
  // label {
  //   color: $color_white;
  //   text-align: left;
  //   font-weight: normal;
  //   font-size: 15px;
  //   margin-top: 15px;
  // }
  .col-md-4 {
    text-align: left;
  }
}
.newsletter {
  background-position: center;
  @include vendorize(background-size, cover);
  padding: 0;
  text-align: center;
  position: relative;
  h3 {
    font-size: 40px;
    font-weight: 600;
    padding-top: 20px;
    color: $color_white;
    margin: 0;
    display: inline-block;
    width: 100%;
    text-align: left;
    width: 70%;
    @include mquery(800px) {
      width: 75%;
    }
    @include mquery(640px) {
      width: 85%;
    }
    @include mquery(480px) {
      width: 95%;
    }
    @include mquery(320px) {
      font-size: 1.3em;
    }
  }
  p {
    color: $color_white;
    font-size: 15px;
    line-height: 1.8em;
    margin: 0.5em 0 2em;
    @include mquery(320px) {
      font-size: 15px;
    }
  }
  form {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    @include mquery(800px) {
      width: 75%;
    }
    @include mquery(640px) {
      width: 85%;
    }
    @include mquery(480px) {
      width: 95%;
    }
  }
  @include mquery(320px) {
    input[type="submit"] {
      font-size: 15px;
      padding: 8px 0;
    }
  }
}
.sign-up {
  text-align: center;
  button[type="submit"] {
    width: 75%;
    @include mquery(1024px) {
      font-size: 1em;
      padding: 10px 0;
    }
    @include mquery(800px) {
      font-size: 15px;
    }
  }
}
.sites-section {
  margin-bottom: 30px;
}
.cancel-sign {
  cursor: pointer;
  &::before {
    content: "\274c";
    color: $color_black;
  }
}
.bgGlass {
  // background-image: url(../assets/reservation_picture.png);
  background-size: cover;
  border-radius: 5px;
  position: absolute;
  top: 35px;
  width: 80%;
  height: 360px;
  z-index: -1;
  margin: auto;
  text-align: center;
  left: 10%;
  filter: blur(98px);
  &:before {
    content: "";
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    filter: blur(15px);
  }
  @include mquery(991px) {
    display: none;
    height: 100%;
  }
}
.payment-details {
  margin-bottom: 20px;
}
.loader-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #383838;
  opacity: 0.3;
  left: 0;
  top: 0;
  z-index: 2;
}
.loader {
  border: 8px solid $color_white;
  border-top: 8px solid $color_lightorange;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 40%;
  left: calc(50% - 25px);
  z-index: 2;
}
.small-loader {
  border: 4px solid $color_white;
  border-top: 4px solid $color_lightorange;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 45px;
  right: 25px;
  z-index: 1;
  // display: none;
}
.quotes {
  background-position: center;
  text-align: center;
  padding: 1em 0;
  min-height: 50px;
  background-size: cover;
  @include mquery(991px) {
    background-position: center;
    background-size: cover;
    height: auto;
    padding: 0px 10px;
    display: inline-block;
    width: 100%;
  }
  h1.title {
    color: $color_white;
    text-align: left;
    // margin-bottom: 20px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    @include mquery(991px) {
      font-size: 8vw !important;
      margin-bottom: 0;
      line-height: normal;
    }
  }
  h1.sub-title {
    color: $color_white;
  }
  h1,
  h2,
  h3,
  h4 {
    text-align: left;
  }
  p {
    font-size: 1.2em;
    color: $color_white;
    font-style: italic;
    padding: 2em 0 0;
    line-height: 1.8em;
    position: relative;
    &:before {
      content: "";
      background: url(../assets/img-sp.png) no-repeat -174px -227px;
      display: block;
      width: 32px;
      height: 32px;
      position: absolute;
      top: 0%;
      left: 43%;
    }
    @include mquery(1680px) {
      font-size: 1.3em;
    }
    @include mquery(1080px) {
      font-size: 1em;
    }
  }
}
@media (max-width: 991px) {
  .copyright-text {
    width: 100%;
  }
}
@media print {
  .hideonprint {
    display: none !important;
  }
}

.customChekboxLable {
  position: relative;
  padding-left: 30px;
  color: #000;
  font-size: 16px;
  input {
    position: absolute;
    left: -9999px;
    &:checked + i {
      border-color: $color_brightorange;
      background: $color_brightorange;
      &:after {
        opacity: 1;
      }
    }
  }
  > i {
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    outline: none;
    border: 2px solid $color_black;
    background-color: $color_white;
    height: 20px;
    width: 20px;
    top: 3px;
    &:after {
      position: absolute;
      opacity: 0;
      @include vendorize(transition, opacity 0.1s);
      content: "";
      // background: url(../assets/img-sp.png) no-repeat -272px -238px;
      width: 8px;
      height: 16px;
      // font: normal 12px/16px FontAwesome;
      // text-align: center;
      left: 0;
      top: 0;
      border: 2px solid;
      border-top: 0px;
      border-left: 0px;
      transform: rotate(35deg);
      transform-origin: 9px 14px;
      color: $color_white;
    }
  }
}

.width100 {
  width: 100%;
}

.clear-filter-con {
  width: 70%;
  margin: 20px auto 0;
  > ul {
    display: inline-block;
    > li {
      list-style-type: none;
      border: 2px solid #777;
      /* background-color: #fff; */
      position: relative;
      color: #fff;
      > span {
        padding: 0px 0 3px 8px;
        margin: 0 34px 0 0;
        display: inline-block;
      }
      > a {
        position: absolute;
        top: 0px;
        bottom: 0;
        right: -2px;
        cursor: pointer;
        border: 0;
        margin-right: 0;
        font-size: 15px;
        width: 27px;
        text-align: center;
        border-left: 1px solid #777;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        .glyphicon-remove {
          color: $color_brightorange;
          font-size: 18px;
          top: 4px;
        }
      }
    }
  }
  > a {
    color: $color_white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 23px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color_cararra;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  &:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3.6px;
    background-color: $color_rajah;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  &:after {
    content: "Off";
    font-size: 14px;
    right: 6px;
    top: 1px;
    position: absolute;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

input:checked + .slider {
  background-color: $color_moss_green;
  &:before {
    background-color: $color_white;
    left: 12px;
  }
  &:after {
    content: "On";
    left: 6px;
  }
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.error-border {
  border-color: $color_red !important;
}

.cursor-pointer {
  cursor: pointer;
}

// new design common css start
// common css starts
.tooltipTest {
  position: relative;
  display: inline-block;
  margin-left: 3px;
  .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 120px;
    background-color: $color_black;
    color: $color_white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-family: $font_family_oswald_sans;
    top: -63px;
    left: -97px;
    width: 200px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    transform: scale(0);
    @include vendorize(transition, 0.3s linear);
    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      border-right: 8px solid $color_transparent;
      border-left: 8px solid $color_transparent;
      border-top: 8px solid $color_black;
      top: 52px;
      left: 98px;
    }
  }
  &:hover {
    .tooltiptext {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }
}

.custom-arrow-select {
  position: relative;
  i.fa-angle-down {
    position: absolute;
    right: 10px;
    top: 15%;
    pointer-events: none;
    &:before {
      font-size: 28px;
      color: $background_color_light;
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
  select::-ms-expand {
    display: none;
  }
}
// new design common css ends
.map-section {
  margin-bottom: 15px;
  .agm-info-window-content {
    > div {
      padding: 10px;
      &:last-of-type {
        padding-left: 15px;
      }
    }
    h3 {
      font-weight: 700;
      @include mqueryphone(320px, 767px) {
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
    span {
      font-weight: 500;
      display: block;
      display: block;
    }
    agm-map {
      height: 200px !important;
      width: 240px;
      @include mqueryphone(320px, 767px) {
        height: 140px !important;
        width: 140px;
      }
    }
    .primary-btn {
      padding: 15px 10px;
      margin-top: 25px;
      font-size: 16px;
      @include mqueryphone(320px, 767px) {
        font-size: 12px;
      }
      span {
        display: inline;
      }
    }
  }
}

.container-fluid {
  padding: 0px;
}

.container-heading {
  background: url("assets/BackgroundImage-2.jpg") no-repeat;
  background-position: center;  
  color: #fff;
  text-align: center;
  background-size: 100%;
  padding: 130px 20px 110px 20px;
  @include mqueryipad(768px, 1024px) {
    background-size: auto;
  }
  @include mqueryphone(346px, 767px) {
    padding: 120px 20px 90px 20px;
    background-size: auto;
  }
  @include mqueryphone(320px, 345px) {
    padding: 100px 10px 20px 10px;
    background-size: auto;
  }
  h1 {
    font-weight: 700;
    margin-bottom: 40px;
  }
  p {
    font-size: 20px;
    letter-spacing: 1px;
    width: 80%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.3);
  }
}

.container-body {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-top: 71px;
}

.selex-pagination-controls {
  text-align: center;
  text-align: center;
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  .ngx-pagination {
    .current {
      background: $color_brightorange;
    }
  }
}

.text-label {
	margin-bottom: 5px;
	display: inline-block;
	&.required {
		&:after {
			content: "*";
			color: $color_red;
		}
	}
}


// material css starts
.mat-form-field {
  width: 100%;
  // font-family: $font_family_oswald_sans;
}

.mat-option {
  font-family: $font_family_oswald_sans;
}

.mat-form-field-infix {
  border-top: 0px;
  margin-top: 3px;
}

// .city-autocomplete-input {
//   background: transparent;
//   font-size: 18px;
//   width: 100%;
//   border: 1px solid $color_lightgrey;
//   display: block;
//   padding: 3px 5px;
//   border-radius: 0px;
//   height: 46px;
//   color: $color_white;
//   .mat-form-field-infix {
//     padding: 0px;
//     margin: 0px;
//     input {
//       border: 0px !important;
//       padding: 0px !important;
//       &:disabled {
//         cursor: no-drop;
//       }
//     }
//   }
//   .mat-form-field-underline {
//     display: none;
//   }
// }

.material-dark-bkd {
  .mat-input-element, .mat-form-field-label, .mat-datepicker-toggle-default-icon {
    color: $color_white;
  }
  .mat-form-field-underline {
    background: $color_white;
  }
}

.city-status-radio-group {
  display: inline-block;
  width: 45%;
  @include mqueryphone(320px, 767px) {
    // margin-bottom: 20px;
    display: inline-block;
    .mat-radio-button {
      width: 100%;
    }
  }
  .mat-radio-label {
    margin-right: 30px;
    @include mqueryipad(768px, 1024px) {
      margin-right: 25px;
    }
  }
}

.admin-email-sm {
  width: 23%;
  input:disabled {
    color: $color_black;
  }
  button {
    background: none;
    border: 0;
    .fa-check {
      color: $color_brightorange;
    }
    &:disabled {
      .fa-check {
        color: $color_lightgrey;
      }
    }
  }
  &.mat-form-field-should-float .mat-form-field-label {
    display: none !important;
  }
  @include mqueryphone(320px, 767px) {
    width: 90%;
  }
}

.po-number-radio {
  .mat-form-field-infix {
    border-top: 0px;
  }
}

.terms-checkbox-mat {
  display: inline-block;
  margin-bottom: 10px;
}

.search-item-left-sec, .terms-checkbox-mat {
  .mat-checkbox-layout {
    white-space: initial;
  }
  
  .mat-checkbox-inner-container {
    margin-top: 4px;
  }
}


.unicorn-dark-theme {
  .mat-error {
    color: $color_red !important;
  }
  .mat-form-field {
    .mat-select.mat-select-invalid {
      .mat-select-arrow {
        color: $color_red !important;
      }
    }
    &.mat-form-field-invalid {
      .mat-form-field-label {
        color: $color_red !important;
        .mat-form-field-required-marker {
          color: $color_red !important;
        }
      }
      .mat-form-field-ripple {
        background-color: $color_red !important;
      }
    }
  }
}

.mat-error {
  color: $color_red !important;
}

.mat-form-field {
  .mat-select.mat-select-invalid {
    .mat-select-arrow {
      color: $color_red !important;
    }
  }
  &.mat-form-field-invalid {
    .mat-form-field-label {
      color: $color_red !important;
      .mat-form-field-required-marker {
        color: $color_red !important;
      }
    }
    .mat-form-field-ripple {
      background-color: $color_red !important;
    }
  }
}

.mat-select-panel {
	max-width: none !important;
}
// material css ends

input:disabled {
  cursor: no-drop;
}

.mat-tab-body-content  {
  padding-top: 20px;
}


.account-management-body, .profile-body {
  .mat-tab-label-active {
    .mat-tab-label-content {
      font-weight: 700;
    }
  }
  .mat-tab-label-content {
    font-size: 16px;
    &:hover {
      color: $color_black;
    }
  }
  
  .mat-tab-group.mat-primary .mat-ink-bar {
    background: $color_brightorange;
  }

  .mat-tab-body {
    margin-bottom: 20px;
  }
}

tr.example-detail-row {
  height: 0 !important;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}