@mixin backImage($image) {
    background: linear-gradient(to top, 
    rgba(0, 0, 0, 0),
    rgba(0,0,0,0.5)),
    url($image);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

@mixin clear() {
    &:before, &:after {
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

@mixin linkTextOffscreen() {
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    font-size: 0;
    text-align: start;
}

@mixin hoverActiveFocus($property, $value) {
    &:hover, &:active, &:focus {
        #{$property}: $value;
    }
}

@mixin animation($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin mquery($args...) {
    @if length($args) == 1 {
        @media (max-width: nth($args, 1)) {
            @content;
        }
    }

    @if length($args) == 2 {
        @media (min-width: nth($args, 1))
            and (max-width: nth($args, 2)) {
            @content;
        }
    }
}

@mixin minmquery($args) {
    @media (min-width: $args) {
        @content;
    }
}

@mixin mqueryipad($args...) {
    @media only screen 
    and (min-device-width : nth($args, 1)) 
    and (max-device-width : nth($args, 2)) 
    and (-webkit-min-device-pixel-ratio: 1){
        @content;
    }

    @media only screen 
    and (min-device-width : nth($args, 1)) 
    and (max-device-width : nth($args, 2))
    and (-webkit-min-device-pixel-ratio: 2) {
        @content;
    }

    @media only screen 
    and (min-device-width : nth($args, 1)) 
    and (max-device-width : nth($args, 2))  {
        @content;
    }

    @media (min-width: nth($args, 1))
        and (max-width: nth($args, 2)) {
        @content;
    }
}

@mixin mqueryphone($args...) {
    @media only screen 
    and (min-device-width : nth($args, 1)) 
    and (max-device-width : nth($args, 2))  {
        @content;
    }
    @media (min-width: nth($args, 1))
        and (max-width: nth($args, 2)) {
        @content;
    }
}