$fa-font-path: "../../node_modules/font-awesome/fonts";

$color_red: #ff0000;
// $color_lightorange: #ef6b25;
$color_lightorange: #43B02A;
$color_brightorange: #43B02A;
$cross_color: #de3210;
$color_contessa: #bd6563;
$color_como: #528971;
$color_rajah: #f5b182;
$color_white: #fff;
$color_alabaster: #fafafa;
$color_green: #267726;
$color_moss_green: #9ED1A1;
$color_darkgrey: #6b6b6b;
$color_grey: #777;
$color_lightgrey: #a7a7a7;
$color_lightestgrey: #d2d2d2;
$color_cararra: #F3F2F0;
$color_black: #000;
$color_transparent: transparent;
$color_bluelink: #337ab7;
$color_blue: #2874f0;
$color_lightbluelink: #96c7f3;
$color_alto: #d8d8d8;
$color_iron: #e2e3e6;
$color_code_grey: #1b1b1b;

$background_color_light: #eeeeee;

$color_boxshadow: rgba(0, 0, 0, 0.47);

$font_family_oswald_sans: "Oswald", sans-serif;
