@import "variables";
@import "mixins";
@import "base";
// @import "../../node_modules/font-awesome/scss/fontawesome";
@import "common";
@import "buttons";


@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

$mat-deep-orange: (
    50: #43B02A,
    100: #43B02A,
    200: #43B02A,
    300: #43B02A,
    400: #43B02A,
    500: #43B02A,
    600: #43B02A,
    700: #43B02A,
    800: #43B02A,
    900: #43B02A,
    A100: #43B02A,
    A200: #43B02A,
    A400: #43B02A,
    A700: #43B02A,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: #43B02A,
        600: #43B02A,
        700: #43B02A,
        800: #43B02A,
        900: #43B02A,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: #43B02A,
    )
);

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-deep-orange, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
  .mat-input-element {
      color: $color_white;
  }
  .mat-checkbox-checkmark-path {
    stroke: $color_white !important;
  }
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $color_brightorange !important;
  }
}
