@import "~sass/mixins";
@import "~sass/variables";

.login-header {
	h6 {
		&.title {
			text-align: left;
			padding: 5px 30px;
			height: 70px;
			margin-bottom: 0px;
			img {
				height: 45px;
			}
		}
	}
}

.sign-in-page {
	background-image: url('assets/output-1.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: $color_white;
	margin-left: 2%;
	-webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
	width: 93%;
	position: relative;
	@include mquery(768px) {
		background: none;
		height: auto;
    }
}

.login-main-container {
	h1 {
		color: $color_black;
		margin-bottom: 30px;
		text-align: center;
		font-weight: 600;
		font-size: 35px;
	}
	.site-acquisition-quote {
		position: absolute;
		top: 63%;
		box-shadow: 1px 1px 5px #4C4A4A;
		background: $color_brightorange;
		opacity: 0.85;
		z-index: 1;
		width: 103%;
		padding: 1.7% 48% 1.7% 6%;
		p {
			font-size: 2.5em;
			@include mquery(1024px) {
				font-size: 2.2em;
			}
		}
		@include mquery(768px) {
			display: none;
		}
		@include mquery(1024px) {
			padding: 2% 43% 2% 6%;
		}
	}
	.sign-up {
		margin: 25px 0px 15px 0px;
	}
}

.loginPageForm {
	box-shadow: 1px 1px 5px $color_boxshadow;
	width: 28%;
	background: $color_white;
	position: absolute;
	right: -1.5%;
	top: 50%;
	min-height: 390px;
	max-width: 360px;
	z-index: 2;
	color: $color_black;
	padding-top: 20px;
	::-webkit-input-placeholder {
		color: $color_black;
	}
	::-moz-placeholder {
		color: $color_black;
	}
	:-ms-input-placeholder {
		color: $color_black;
	}
	:-moz-placeholder {
		color: $color_black;
	}
	@include vendorize(transform,translateY(-50%));
	label {		
		display: block;
		margin-bottom: 5px;
		position: absolute;
	}
	input[type='email'],input[type='password'],input[type='text'] {
		width: 100%;
		outline: 0px;	
		border: 0px;
		border-bottom: 1px solid $color_grey;
		margin-bottom: 20px;
		padding: 10px 10px 10px 27px;
		&:focus {
			border-bottom: 1px solid $color_brightorange;
		}
	}
	h3 {
		text-align: center;
		img {
			height: 25px;
		}
		a{
			color: $color_black;
		}
	}
	p {
		margin-bottom: 30px;
		font-size: 16px;
	}
	.pos-rel {
		.glyphicon-ok, .glyphicon-eye-close, .glyphicon-eye-open {
			position: absolute;
			top: 12px;
			right: 10px;
		}
		.glyphicon-user, .glyphicon-lock {
			top: 12px;
			left: 5px;
		}
		.glyphicon-ok {
			color: $color_green;
		}
	}
	@include mquery(991px) {
		width: 35%;
    }
	@include mquery(768px) {
		width: 90%;
		left: 50%;
		@include vendorize(transform,translate(-50%, -50%));
	}
	.loginError {
		color: $color_red;		
		margin-bottom: 0px;
	}
}

.login-footer {
	.copyright-text {
		padding: 8px 30px 15px 30px;		
	}
}

.pad-0-20 {
	padding: 0px 20px;
}

.validationChecks {
	.glyphicon-ok {
		color: $color_green;
	}
}
