<div class="container-fluid">
  <app-header-new></app-header-new>
  
  <site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>
  
  <div class="loader-bg" [hidden]="!showLoader"></div>
  <div class="loader" [hidden]="!showLoader"></div>
  
  <div class="container-body searcharea newsletter">
    <h1>Export Site Inventory</h1>
    
    <form class="reports-form" (ngSubmit)="reportsFormSubmit(reportsForm)" #reportsForm="ngForm">
      <div class="row">
        <div class="col-sm-4 col-md-4 report-type-container">
          <mat-form-field>
            <mat-select name="reportType" placeholder="Select Report Type" [(ngModel)]="reportType" required>
              <mat-option value="orders">Order</mat-option>
              <mat-option value="products">Engineering</mat-option>
            </mat-select>
            <mat-error>Report type is required</mat-error>
          </mat-form-field>
        </div>      
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-4">
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" (click)="picker1.open()" [max]="maxDate" required placeholder="Start Date" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-md-4">
          <mat-form-field>
            <input matInput [matDatepicker]="picker2" (click)="picker2.open()" [max]="maxDate" required placeholder="End Date" [formControl]="date1">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4 generate-report-btn-section">
          <button type="submit" [class.disabled-btn]="date.invalid || date1.invalid || reportType == ''" [disabled]="date.invalid || date1.invalid || reportType==''" class="primary-btn primary-btn-main">EXPORT REPORT</button>
        </div>
      </div>
    </form>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-heading">
      <img src="assets/ExportSiteInv.png" alt="" />
    </div>

  </div>
  
  
  <site-selex-footer></site-selex-footer>
  </div>