@import "~sass/variables";

.container-body {
	>h1 {
		text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 20px 0;
    background: #000;
    color: #fff;
	}
}

.container-heading {
	background-image: linear-gradient(#43B02A 0%, #100c23 100%);
	padding: 100px 20px;
	img {
		height: 200px;
	}
	>h1 {
		position: absolute;
    top: 30px;
    font-size: 32px;
    left: 30px;
    letter-spacing: 2px;
	}
}

.reports-form {
	margin-top: 15px;
	margin-bottom: 50px;
	display: inline-block;
	background: #e2e3e6;
	width: 75%;
	padding: 0px 2.5% 20px;
	.mat-form-field {
		margin-top: 15px;
	}
}
.generate-report-btn-section {
	text-align: center;
	.primary-btn {
		margin-top: 20px;
	}
}
.report-type-container {
	text-align: left;
	div {
		padding: 0px;
	}
}
.reportTypeSelect {
	option {
		color: $color_white;
	}
}
@media (max-width:991px) {
	.generate-report-btn-section {
		.primary-btn {
			width: 75%;
		}
	}
}