@import "~sass/variables";
@import "~sass/mixins";

.profile-body {
	color: #000;
	padding-bottom: 20px;
	>h1 {
		text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
		margin-top: 20px;
		padding: 20px 0;
		background: $color_black;
		color: $color_white;
	}

	mat-tab-group {
    margin: 0 20%;
  }
}

.profile-page {
	padding: 45px 35px 45px 35px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	background: $color_iron;
}

.personal-details {
	width: 80%;
	margin: 0 auto;
	padding: 0 5%;
	min-width: 440px;
}

.projectcontact-details {
	width: 90%;
	margin: 0 auto;
	padding: 0 5%;
	min-width: 440px;
}

.profile-submit-button {
	width: auto;
	padding-left: 30px;
	padding-right: 30px;
}

.canceledit {
	color: $color_lightorange;
	font-size: 18px;
	margin: 2em 0 0;
	text-decoration: underline;
	cursor: pointer;
	margin-right: 15px;
}

.profile-save-success {
	margin: 0px;
	text-align: left;
	font-weight: 700;
	margin-bottom: 20px;
	float: left;
	width: 100%;
}

.projectcontact-save-success {
	margin: 0px;
	display: none;
	text-align: left;
	font-weight: 700;
	margin-bottom: 25px;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.projectcontact-edit-button {
	width: auto;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 0;
}

.cancel-projectcontact-edit {
	display: none;
}

.projectcontact-submit-button {
	width: auto;
	padding-left: 30px;
	padding-right: 30px;
	display: none;
}

.profile-all-sections-cont {
	display: inline-block;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.profile-all-sections {
	justify-content: flex-start;
	margin-left: 0;
	margin-right: 0;
	display: flex;
	align-items: stretch;
	@include mqueryipad(320px, 1024px) {
		display: block;
		min-height: calc(100vh - 243px);
		padding-bottom: 0;
	}
	@include mqueryipad(768px, 1024px) {
		width: 80%;
		margin: 0 auto;
	}
	@include mqueryphone(320px, 767px) {
		min-height: 700px !important;
		padding-left: 15px;
		margin-left: 15px;
	}
}

.row-delete-icon {
	font-size: 15px;
	color: $color_white;
	transform: scale(0.6);
	left: 0px;
}

.row-delete-icon-wrap-card {
	height: 18px;
	text-align: center;
	line-height: 18px;
	position: absolute;
	right: 5px;
	top: 5px;
	.glyphicon, .fa-pencil-alt {
		cursor: pointer;
	}
	.glyphicon-remove {
		top: 4px;
		margin-left: 10px;
		font-size: 19px;
		color: $color_brightorange;
	}
}

.row-delete-icon-card {
	font-size: 15px;
	color: $color_white;
	transform: scale(0.6);
	left: 0px;
}

.all-contact-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@include mqueryphone(320px, 767px) {
		justify-content: center;
	}
}

.contact-card {
	padding: 0 15px 30px 15px;
	background-color: $color_white;
	margin-bottom: 40px;
	width: 100%;
	min-width: 200px;
	position: relative;
	height: auto;
	height: fit-content;
	.glyphicon {
		margin-right: 5px;
	}
	p {
		padding: 5px;
		font-size: 18px;
		word-break: break-all;
		width: 100%;
	}
	.contact-name {
		font-size: 24px;
		font-weight: 700;
		margin-top: 10px;
	}
	.contact-email {
		font-size: 18px;
	}
	.contact-phone {
		font-size: 16px;
	}
	@include mqueryphone(320px, 767px) {
		margin-right: 10px;
	}
}

.new-contact-label {
	width: 100%;
	text-align: center;
	color: $color_lightorange;
}

.new-contact-add-section {
	background-color: $color_white;
	padding: 20px;
	margin: 0 0 60px 0;
	input[type="text"] {
		padding: 5px;
	}
	input[type="email"] {
		padding: 5px;
	}
	.cancelAddContact {
		margin-left: 15px;
		cursor: pointer;
	}
}

.cancelAddContact {
	color: $color_lightorange;
	font-size: 18px;
	margin: 2em 0 0;
	text-decoration: underline;
	cursor: pointer;
	margin-right: 15px;
}

.add-new-contact {
	margin-bottom: 30px;
	span {
		font-size: 20px;
		font-weight: 700;
		cursor: pointer;
		&.glyphicon-plus {
			color: $color_brightorange;
			margin-right: 5px;
		}
	}
}

@include mqueryphone(320px, 1024px) {
	.profile-page {
		width: 100%;
	}
	.add-new-contact {
		span {
			font-size: 6vw;
		}
	}
	.personal-details {
		width: 100%;
		padding: 0;
		min-width: auto;
	}
	.projectcontact-details {
		width: 100%;
		padding: 0;
		min-width: auto;
	}
}

.change-pass-form {
	.primary-btn {
		margin-top: 15px;
	}
	.mat-form-field {
		margin-bottom: 10px;
	}
}

.security-que-message {
	margin-bottom: 20px;
	font-size: 18px;
}

.security-ques-form {
	.mat-form-field-type-mat-input {
		margin-bottom: 20px;
	}
}