<div class="container-fluid">
	<app-header-new (loggedUserDetails)="receivedUserData($event)"></app-header-new>

	<site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>
	<div class="loader-bg" [hidden]="!showLoader"></div>
	<div class="loader" [hidden]="!showLoader"></div>
	<div class="container-body profile-body">
		<h1>Profile Management</h1>
		
		<div class="row profile-all-sections-cont">
			<div class="profile-all-sections">

				<mat-tab-group (selectedTabChange)="selectedTabChange($event)">
					<!-- user profile info tab starts -->
					<mat-tab label="My Profile">
						<div class="col-md-12 white-bg-box profile-page">
							<div class="personal-details">
								<form (ngSubmit)="editUserProfileDetails(profileForm)" #profileForm="ngForm">
									<div class="col-md-12" style="display:inline-block">
										<span class="text-success profile-save-success" *ngIf="isShowSaveSuccess">Profile updated successfully. Continue to <a [routerLink]="['/site/home']" class="cancelBtn">Site Search</a>.</span>
									</div>
				
									<div class="col-md-12">
										<mat-form-field>
											<input matInput placeholder="First Name" minlength="2" [(ngModel)]="profileFormData.firstName" name="firstName" required [disabled]="!isEditEnabled">
										</mat-form-field>
									</div>
				
									<div class="col-md-12">
										<mat-form-field>
											<input matInput placeholder="Last Name" minlength="2" [(ngModel)]="profileFormData.lastName" name="lastName" required [disabled]="!isEditEnabled">
										</mat-form-field>
									</div>
				
									<div class="col-md-6">
										<mat-form-field>
											<input matInput placeholder="Company" [(ngModel)]="profileFormData.company" name="company" required [disabled]="!isEditEnabled">
										</mat-form-field>
									</div>
				
									<div class="col-md-6">
										<mat-form-field>
											<input matInput placeholder="Job Title" [(ngModel)]="profileFormData.jobTitle" name="jobTitle" [disabled]="!isEditEnabled">
										</mat-form-field>
									</div>
				
									<div class="col-md-12">
										<mat-form-field>
											<input matInput placeholder="Email address" disabled required [(ngModel)]="profileFormData.email" name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$">
										</mat-form-field>								
									</div>
				
									<div class="col-md-12">
										<mat-form-field>
											<input matInput placeholder="Phone Number" maxlength="10" minlength="10" required [(ngModel)]="profileFormData.phone" name="phone" [disabled]="!isEditEnabled">
										</mat-form-field>
									</div>
				
									<div class="col-md-12">
										<mat-form-field>
											<input matInput placeholder="Address" required [(ngModel)]="profileFormData.addLine1" name="addLine1" [disabled]="!isEditEnabled">
										</mat-form-field>
									</div>
				
									<div class="col-md-12">
										<mat-form-field>
											<input matInput placeholder="City" required [(ngModel)]="profileFormData.city" name="city" [disabled]="!isEditEnabled">
										</mat-form-field>
									</div>
		
									<div class="col-md-6">					
										<mat-form-field>
											<mat-select name="state" placeholder="State" [(ngModel)]="profileFormData.state.region" required [disabled]="!isEditEnabled">
												<mat-option value="">Select State</mat-option>
												<mat-option *ngFor="let state of stateList" [value]="state.name" (click)="stateChangeEvent(state)">
													{{state.name}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
				
									<div class="col-md-6">
										<mat-form-field>
											<input matInput placeholder="Zip" #postalCode maxlength="5" required [(ngModel)]="profileFormData.zip" name="zip" [disabled]="!isEditEnabled">
											<mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
										</mat-form-field>
									</div>
				
									<div class="col-md-12">
										<mat-form-field>
											<input matInput placeholder="Country" required [(ngModel)]="profileFormData.countryCode" name="country" disabled>
										</mat-form-field>
									</div>
				
									<div class="col-md-12">
										<button class="primary-btn primary-btn-main profile-edit-button" type="button" *ngIf="!isEditEnabled" (click)='isEditEnabled=true; isShowSaveSuccess=false'>Edit</button>
										<a class="canceledit cancel-profile-edit" (click)="resetFrofileForm()" *ngIf="isEditEnabled">Cancel</a>
										<button class="primary-btn primary-btn-main profile-submit-button" [disabled]="profileForm.invalid" [class.disabled-btn]="profileForm.invalid" type="submit" *ngIf="isEditEnabled">Update</button>
										<!-- <button class="primary-btn primary-btn-main profile-submit-button" [disabled]="profileForm.invalid || profileFormData.state === ''" [class.disabled-btn]="profileForm.invalid || profileFormData.state === ''" type="submit" *ngIf="isEditEnabled">Update</button> -->
									</div>
								</form>
							</div>
						</div>
					</mat-tab>
					<!-- user profile info tab ends -->

					<!-- user project contacts info tab starts -->
					<mat-tab label="Project Contacts">
						<div class="col-md-12 white-bg-box profile-page projectcontact-tab">
		
							<div class="projectcontact-details">
								<div class="add-new-contact" (click)="addPc()">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									<span>Add Contact</span>
								</div>
				
								<form class="row new-contact-add-section" *ngIf="addNewPcTrue" (ngSubmit)="savePcData(pcDetailSaveForm)" #pcDetailSaveForm="ngForm">
									<input type="hidden" id="edit-contact-id" value="">
									<div class="col-lg-12 col-md-12 new-contact-box">
										<mat-form-field>
											<input matInput placeholder="Name" #newPcNumberInp required [(ngModel)]="newPcName" name="newPcName">
										</mat-form-field>
									</div>
									<div class="col-lg-12 col-md-12 new-contact-box">
										<mat-form-field>
											<input matInput maxlength="10" placeholder="Phone" required [(ngModel)]="newPcPhone" name="newPcPhone">
										</mat-form-field>
									</div>
									<div class="col-lg-12 col-md-12 new-contact-box">
										<mat-form-field>
											<input matInput placeholder="Company" required [(ngModel)]="newPcCompany" name="newPcCompany">
										</mat-form-field>
									</div>
									<div class="col-lg-12 col-md-12 new-contact-box">
										<mat-form-field>
											<input matInput placeholder="Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" required [(ngModel)]="newPcEmail" name="newPcEmail">
										</mat-form-field>								
									</div>
									<div class="col-md-12 new-contact-addbtn-box">
										<button type="submit" [disabled]="pcDetailSaveForm.invalid" [ngClass]="{'disabled-btn':pcDetailSaveForm.invalid}" class="primary-btn primary-btn-main">{{pcAddFlag?'Add':'Update'}}</button>
										<a class="cancelAddContact" (click)="addNewPcTrue=false">Cancel</a>
									</div>
								</form>
				
								<form id="projectcontact-form">
									<div class="all-contact-cards">
										<div class="contact-card" *ngFor="let pcItem of pcdata;let index= index">
											<div class="contact-edit-delete row-delete-icon-wrap-card">
												<i class="hidden-xs fas fa-pencil-alt" data-type="pc" (click)="editPc(pcItem, index)" data-id="{{pcItem.contact_id}}"></i>
												<span class="glyphicon glyphicon-remove" (click)="deletePc(pcItem.contact_id, index)"></span>
											</div>
											<p class="contact-name">{{pcItem.name}}</p>
											<p class="contact-company"><span class="glyphicon glyphicon glyphicon-briefcase"></span>{{pcItem.company}}</p>
											<p class="contact-email"><span class="glyphicon glyphicon-envelope"></span>{{pcItem.email}}</p>
											<p class="contact-phone"><span class="glyphicon glyphicon-phone-alt"></span>{{pcItem.phone}}</p>
										</div>
									</div>
				
									<span class="text-success projectcontact-save-success">Project contacts saved successfully</span>
								</form>
							</div>
						</div>
					</mat-tab>
					<!-- user project contacts info tab ends -->

					<!-- user change password tab starts -->
					<mat-tab label="Change Password">
						<div class="col-md-12 white-bg-box profile-page">
							<div class="personal-details">
								<form class="change-pass-form" (submit)="changePassword(changePassForm.value);changePassForm.resetForm()" #changePassForm="ngForm">
									<div class="col-md-12" style="display:inline-block">
										<span class="text-success profile-save-success" *ngIf="isShowSaveSuccess">Password updated successfully.</span>
									</div>
									
									<div class="col-md-12">
										<mat-form-field>
											<input matInput type="password" minlength="8" ngModel placeholder="Current Password" name="curPassword" required>
											<mat-error>Current password is required</mat-error>
										</mat-form-field>
									</div>
									<div class="col-md-12">
										<mat-form-field>
											<input matInput type="password" minlength="8" #newPassword ngModel placeholder="New Password" name="newPassword" required>
											<mat-error>
												Password must contain any 3 of the lower case, upper case, digits or special characters.
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-md-12">
										<mat-form-field>
											<input matInput type="password" required minlength="8" #confNewPassword ngModel placeholder="Confirm Password" name="conNewPassword">
											<mat-error>Confirm password is required and should match new password</mat-error>
										</mat-form-field>
									</div>
									
									<div class="col-md-12">
										<button class="primary-btn primary-btn-main profile-submit-button" [disabled]="changePassForm.invalid" [class.disabled-btn]="changePassForm.invalid" type="submit">Update</button>
									</div>
								</form>
							</div>
						</div>
					</mat-tab>
					<!-- user change password tab ends -->

					<!-- user security questions tab starts -->
					<mat-tab label="Security Questions">
						<div class="col-md-12 white-bg-box profile-page">
							<p class="security-que-message">For your protection, you can establish new security questions and answers. Just like changing your password frequently, changing your security questions and answers helps to ensure the security of your accounts.</p>
							<div class="personal-details">
								<form class="security-ques-form" (submit)="updateSecurityQues();" #changeSecurityQues="ngForm">
				
									<div class="col-md-12">
										<mat-form-field>
											<mat-select name="securityQues_1" [disabled]="!isSecQueEnabled" placeholder="Security Question 1" [(ngModel)]="set1Ques" required>
												<mat-option *ngFor="let set1 of securitySet1" [value]="set1.q_id">{{set1.question}}</mat-option>
											</mat-select>
										</mat-form-field>
		
										<mat-form-field>
											<input matInput placeholder="Answer 1" [disabled]="!isSecQueEnabled" minlength="2" [(ngModel)]="set1Ans" name="answer_1" required>
										</mat-form-field>
									</div>
		
									<div class="col-md-12">
										<mat-form-field>
											<mat-select name="securityQues_2" [disabled]="!isSecQueEnabled" placeholder="Security Question 2" [(ngModel)]="set2Ques" required>
												<mat-option *ngFor="let set2 of securitySet2" [value]="set2.q_id">{{set2.question}}</mat-option>
											</mat-select>
										</mat-form-field>
		
										<mat-form-field>
											<input matInput placeholder="Answer 2" [disabled]="!isSecQueEnabled" minlength="2" [(ngModel)]="set2Ans" name="answer_2" required>
										</mat-form-field>
									</div>
		
									<div class="col-md-12">
										<mat-form-field>
											<mat-select name="securityQues_3" [disabled]="!isSecQueEnabled" placeholder="Security Question 3" [(ngModel)]="set3Ques" required>
												<mat-option *ngFor="let set3 of securitySet3" [value]="set3.q_id">{{set3.question}}</mat-option>
											</mat-select>
										</mat-form-field>
		
										<mat-form-field>
											<input matInput placeholder="Answer 3" [disabled]="!isSecQueEnabled" minlength="2" [(ngModel)]="set3Ans" name="answer_3" required>
										</mat-form-field>
									</div>
									
									<div class="col-md-12">
										<button class="primary-btn primary-btn-main profile-edit-button" type="button" *ngIf="!isSecQueEnabled" (click)='isSecQueEnabled=true;'>Edit</button>
										<a class="canceledit cancel-profile-edit" (click)='isSecQueEnabled=false;resetSecForm(tempSecFormData)' *ngIf="isSecQueEnabled && set1Id">Cancel</a>
										<button class="primary-btn primary-btn-main profile-submit-button" [disabled]="changeSecurityQues.invalid" [class.disabled-btn]="changeSecurityQues.invalid" type="submit" *ngIf="isSecQueEnabled">Update</button>
									</div>
								</form>
							</div>
						</div>
					</mat-tab>
					<!-- user security questions tab ends -->
				</mat-tab-group>
			</div>
		</div>
	</div>
	
	<site-selex-footer></site-selex-footer>	
</div>
