<div class="find-reserve-site">
  <div class="reserve-desc reserve-desc-request">
    <p><i>Not seeing what you want?</i></p>
    <h2>Request For New Site</h2>
  </div>
  <div class="img-btn-sec">
    <a class="primary-btn new-btn-light-back" [routerLink]="['/requestsite']" href="javascript:void(0)">Request Site</a>
    <a [routerLink]="['/requestsite']" href="javascript:void(0)">
      <img src="../assets/NewSiteImage.jpg" alt="" />
    </a>
  </div>
</div>