@import "~sass/variables";
@import "~sass/mixins";

.find-reserve-site {
  display: flex;
  flex-wrap: nowrap;
  // width: 80%;
  margin: 30px auto;
  background: #fff;
  color: #000;
  @include mqueryphone(320px, 767px) {
    flex-direction: column;
  }
  @include mqueryipad(768px, 1024px) {
    width: 90%;
  }
  >div {
    width: 50%;
    @include mqueryphone(320px, 767px) {
      width: 100%;
    }
    &.click-upload {
      position: relative;
      >a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    &.reserve-desc {
      text-align: center;
      padding: 15px 5%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @include mqueryipad(768px, 1024px) {
        padding: 15px;
      }
      >h2 {
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        @include mqueryipad(768px, 1024px) {
          font-size: 24px;
        }
        @include mqueryphone(320px, 767px) {
          font-size: 24px;
        }
      }
      p {
        margin: 0 0 15px 0;
        font-size: 20px;
      }
      a.primary-btn {
        align-self: center;
        text-transform: capitalize;
        margin-bottom: 10px;
        margin-top: 15px;
        min-width: 80%;
        padding: 12px 36px;
        &:after {
          top: 13px;
        }
      }
    }
    img {
      width: 100%;
    }
    &.img-btn-sec {
      position: relative;
      a.primary-btn {
        position: absolute;
        left: 50%;
        bottom: 30px;
        z-index: 1;
        align-self: center;
        min-width: 65%;
        padding: 12px 36px;
        transform: translate(-50%);
        background: #fff;
        &:after {
          top: 13px;
        }
        @include mqueryphone(320px, 767px) {
          bottom: 15px;
        }
      }
      &:hover {
        a.primary-btn {
          border-color: $color_brightorange;
          background-color: $color_brightorange;
          color: $color_white;
          &:after {
            opacity: 1;
            right: 10px;
          }
        }
      }
    }
  }
}