@import "~sass/variables";
@import "~sass/mixins";

.request-site-page {
    background: $color_iron;
    padding-bottom: 20px;
}

.site-requests-main-display {
    margin: 0px;
    color: $color_black;
    width: 100%;
    padding: 15px 10px 15px 0;
    border-radius: 2px;
    display: inline-block;
    background: #e2e3e6;
    @include mqueryphone(320px, 767px) {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .site-details-con {
        background: $color_white;
        margin-top: 20px;
        padding: 15px;
        @include mqueryphone(320px, 767px) {
            padding-left: 0px;
            padding-right: 0px;
        }
        agm-map {
            height: 170px;
            width: 100%;
        }
        &:first-of-type {
            padding-left: 0px;
        }
        .approve-btn-con {
            margin-top: 40px;
            text-align: right;
            @include mqueryipad(768px, 1024px) {
                margin-top: 20px;
            }
            @include mqueryphone(320px, 767px) {
                margin-top: 20px;
            }
            .primary-btn {
                width: 100%;
                &:nth-child(1) {
                    border-color: #43B02A;
                    color: #fff;
                    background-color: #43B02A;
                }
                &:nth-child(2) {
                    margin-top: 20px;
                    &:hover {
                        background: $color_white;
                        border-color: $color_black;
                        color: $color_black;
                    }
                }
            }
        }
        .view-details-left-sec {
            h3 {
                // padding-top: 5px;
                font-weight: 600;
                margin-bottom: 10px;
                color: $color_black;
                @include mqueryphone(320px, 767px) {
                    margin-top: 20px;
                }
            }
            span {
                display: block;
                color: $color_black;
                font-size: 14px;
                letter-spacing: .5px;
            }
        }
    }
}

.no-orders-message {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #000;
    background: #e2e3e6;
    display: block;
    width: 100%;
}

.site-app-rej-con {
    display: inline-block;
    width: 100%;
    h2 {
        margin-top: 25px;
        font-weight: 700;
    }
}