<div class="container-fluid">
  <app-header-new></app-header-new>

  <div class="container-body contact-box contact-container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-heading">
      <h1>Contact Us</h1>
    </div>

    <pre class="col-xs-8 col-xs-offset-1 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <h2>Address:</h2>
      <b>Sales Direct</b>
      19200 Von Karman Suite 100
      Irvine, CA 92612</pre>

    <pre class="col-xs-8 col-xs-offset-1 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <h2>Email:</h2>
      All Inquiries/Comments: <a>support@salesdirect.com</a>

      User Registration and Technical Issues: <a>registration@salesdirect.com</a>

      Billing/Payments: <a>orders@salesdirect.com</a></pre>

    <pre class="col-xs-8 col-xs-offset-1 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <h2>Phone or Fax:</h2>
      <span class="glyphicon glyphicon-phone-alt" style="font-size:15px;"></span> 	 (949) 514-4617      
      <span class="glyphicon glyphicon-print" style="font-size:15px;"></span> 	(949) 266-9160</pre>
  </div>
  
  <site-selex-footer></site-selex-footer>
</div>
