  <div class="container-body">
    <div class="site-reservation-cart-sec">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search-item" *ngFor="let site of waitListSites; let index=index">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngIf="waitListSites.length>0">
          <agm-map [latitude]="site.product.latitude" [longitude]="site.product.longitude" [zoom]="8">
            <agm-marker [latitude]="site.product.latitude" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'" [longitude]="site.product.longitude"></agm-marker>
          </agm-map>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 search-item-left-sec" *ngIf="waitListSites.length>0">
          <h3>Site ID #{{site.product.sku}}</h3>
          <span>{{site.product.state}}, {{site.product.city}}</span>
          <span>Site Coordinates
            <br> ({{site.product.latitude}} , {{site.product.longitude}})</span>
          <p>Site is currently not available and may be reserved by another carrier or enterprise. You can request to be on
              waitlist and be notified if the site becomes available in future.</p>
        </div>

        <div class="col-md-offset-1 col-xs-2 col-sm-1 col-md-2 remove-site-sec" *ngIf="waitListSites.length>0">
          <a (click)="removeSite(site)" href="javascript:void(0)">X</a>
          <p (click)="removeSite(site)">remove</p>
        </div>
      </div>

      <div *ngIf="waitListSites.length<1">
        <p class="no-sites">No site available in Wait List</p>
      </div>
    </div>
  </div>
