<header>
  <div class="row header-con" [ngClass]="{'on-open-nav-head-con':openNav}">
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 closed-nav" [ngClass]="{'open-nav':openNav}">
      <button type="button" class="menu-btn" (click)="openNav = !openNav;scrollTop()">
        <div [ngClass]="{'open':openNav}" id="nav-icon1">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <span class="menu-text">Menu</span>
      </button>  <!-- menu button ends -->

      <!-- nav list toggles on click of menu button -->
      <div class="nav" *ngIf="openNav">
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/profile']">Profile Management</a>
          <a mat-list-item [routerLink]="['/orderhistory']">My Reserved Sites</a>
          <a mat-list-item [routerLink]="['/accountmanagement']">Account Management</a>
          <a mat-list-item [routerLink]="['/admin/sitemanagement']" *ngIf="validUserForReports">Site Management</a>
          <a mat-list-item [routerLink]="['/admin/siterequests']" *ngIf="validUserForReports">New Site Requests</a>
          <a mat-list-item [routerLink]="['/admin/reports']" *ngIf="validUserForReports">Reports</a>
          <a mat-list-item [routerLink]="['/site/site-search']" [queryParams]="{type:'findSiteByInput'}">Find and Reserve Sites</a>
          <a mat-list-item  (click)="logout()">Logout</a>
        </mat-nav-list>
      </div>   
    </div>

    <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6 text-center main-logo">
      <a [routerLink]="['/site/home']" href="javascript:void(0)">
        <img src="../assets/SD_logo.png" class="img-responsive" alt="Sales Direct logo">
      </a>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 user-cart-con text-right">
      <span class="glyphicon glyphicon-shopping-cart" (click)="navigateToPayment()" [ngClass]="{'highlight-cart':cartAvailable}"></span>
      <i class="fas fa-user-circle"></i>
      <span class="username">{{userName | uppercase}}</span>
      <span class="domain-user">{{domainUser}} user</span>
    </div>
  </div>
</header>

<site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>
<div class="loader-bg" [hidden]="!showLoader"></div>
<div class="loader" [hidden]="!showLoader"></div>
