<div class="container-fluid">
  <app-header-new (loggedUserDetails)="receivedUserData($event)"></app-header-new>
  <div class="loader-bg" [hidden]="!showLoader"></div>
  <div class="loader" [hidden]="!showLoader"></div>
  <div class="container-body">
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 home-banner">
      <img src="../assets/HomePageBanner.jpg" alt="" class="img-responsive" />
      <p>
        Sales Direct provides a carrier-friendly platform for operators to Acquire and Reserve sites on publicly-owned infrastructure for small cell attachment. Sales Direct works on behalf of cities and other jurisdictions to identify potential locations, pre-approved aesthetics and pre-set pricing.
      </p>
    </div>

    <h2 class="features-cities-head" *ngIf="featuredCities.length>0">Reserve from Featured Cities</h2>
    <div class="featured-products">
      <!-- for desktop only starts -->
      <div class="hidden-xs card" *ngFor="let featured of featuredCities">
        <img src="{{'../assets/featuredcities/' + featured.city + '.jpg'}}" onError="this.src='../assets/featuredcities/commoncity.jpg';" alt="">
        <div class="card-desc">
          <h4>{{featured.state}} - {{featured.city}}</h4> 
          <a class="primary-btn new-btn-light-back" (click)="navigateToReserve(featured.state, featured.city)" href="javascript:void(0)">Reserve Now</a>
        </div>
      </div>
      <!-- for desktop only ends -->

      <!-- for mobile only starts -->
      <div class="hidden-sm hidden-md hidden-lg">
        <div class="col-xs-12">
          <mat-form-field>
            <mat-select name="featuredCity" placeholder="Select State" [(ngModel)]="citySelected" required>
              <mat-option value=''>Select</mat-option>
              <mat-option  *ngFor="let featured of featuredCities" [value]="featured">
                {{featured.state}} - {{featured.city}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xs-12">
          <a class="primary-btn new-btn-light-back" (click)="navigateToReserveMobile()" href="javascript:void(0)">Reserve Now</a>
        </div>
      </div>
      <!-- for mobile only ends -->
    </div>

    <!-- find and reserve site section -->
    <div class="find-reserve-site">
      <div class="reserve-desc">
        <h2>Find and reserve sites</h2>
        <p>Search for the available sites in various states, download available site(s), view site details, price and request to reserve.</p>
      </div>
      <div class="img-btn-sec">
        <a [routerLink]="['/site/site-search']" [queryParams]="{type:'findSiteByInput'}" href="javascript:void(0)">
          <img title="Find & Reserve Sites" src="../assets/home_booksite_1.jpg" alt="" />
        </a>
        <a class="primary-btn new-btn-dark-back" [routerLink]="['/site/site-search']" [queryParams]="{type:'findSiteByInput'}" href="javascript:void(0)">Find &amp; Reserve Sites</a>
      </div>
    </div>

    <!-- upload file section starts -->
    <div class="find-reserve-site">
      <div class="click-upload">
        <img src="../assets/home_booksite_2.jpg" alt="" />
        <a href="javascript:void(0)" [routerLink]="['/site/site-search']" [queryParams]="{type:'uploadSites'}"></a>
      </div>
      <div class="reserve-desc upload-site-right-con">
        <h2>Upload file</h2>
        <p>You can upload file with site ID's to request site(s) reservation.</p>
        <a href="../assets/csv_files/bulk_upload/bulk_upload.csv" class="primary-btn new-btn-light-back" target="_blank" download>
          <i class="fa fa-download"></i> Download Sample File
        </a>
      </div>
    </div>

    <!-- as we have same request now section in search page, load this section from commpon request now component -->
    <div style="width: 80%; margin: 0 auto">
      <common-request-now></common-request-now>
    </div>

  </div>
  <site-selex-footer></site-selex-footer>
</div>
