@import "~sass/variables";
@import "~sass/mixins";

.container-fluid {
  padding: 0px;
}

.container-body {
  background: $color_cararra;
  .home-banner {
    padding: 0;
    >p {
      font-size: 20px;
      letter-spacing: 1px;
      width: 80%;
      margin: 25px auto 0;
    }
  }
}

.features-cities-head {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 30px;
  display: inline-block;
  margin-left: 10%;
  color: #000;
  @include mqueryipad(768px, 1024px) {
    font-size: 24px;
  }
  @include mqueryphone(320px, 767px) {
    font-size: 24px;
  }
}

.featured-products {
  display: flex;
  width: 80%;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 10px 0 0 0;
  @include mqueryipad(768px, 1024px) {
    width: 90%;
  }
  @include mqueryphone(320px, 767px) {
    flex-direction: column;
  }
  >.card {
    width: 33%;
    margin-right: 15px;
    text-align: center;
    background: $color_white;
    @include mqueryphone(320px, 767px) {
      width: 100%;
      margin-bottom: 20px;
		}
    &:last-of-type {
      margin-right: 0;
      @include mqueryphone(320px, 767px) {
        margin-bottom: 0;
      }
    }
    >img {
      width: 100%;
      // height: 210px;
      @include mqueryipad(768px, 1024px) {
        // height: 122px;
      }
      @include mqueryphone(320px, 767px) {
        // height: 183px;
      }
    }
    .card-desc {
      padding: 15px 0 20px 0;
      h4 {
        margin-bottom: 15px;
        font-weight: 700;
        color: $color_black;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      a.primary-btn {
        text-transform: capitalize;
      }
    }
  }
}

.find-reserve-site {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  margin: 30px auto;
  background: $color_white;
  color: $color_black;
  @include mqueryphone(320px, 767px) {
    flex-direction: column;
  }
  @include mqueryipad(768px, 1024px) {
    width: 90%;
  }
  >div {
    width: 50%;
    @include mqueryphone(320px, 767px) {
      width: 100%;
    }
    &.click-upload {
      position: relative;
      >a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    &.reserve-desc {
      text-align: center;
      padding: 15px 5%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @include mqueryipad(768px, 1024px) {
        padding: 15px;
      }
      >h2 {
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        // margin-top: 15px;
        @include mqueryipad(768px, 1024px) {
          font-size: 24px;
        }
        @include mqueryphone(320px, 767px) {
          font-size: 24px;
        }
      }
      p {
        margin: 15px 0;
        font-size: 20px;
      }
      a.primary-btn {
        align-self: center;
        text-transform: capitalize;
        margin-bottom: 10px;
        min-width: 65%;
        margin-top: 15px;
        padding: 12px 36px;
        &:after {
          top: 13px;
        }
      }
      &.upload-site-right-con {
        position: relative;
        >a {
          position: absolute;
          bottom: 20px;
          @include mqueryphone(320px, 767px) {
            position: static; 
          }
        }
      }
    }
    img {
      width: 100%;
    }
    &.img-btn-sec {
      position: relative;
      a.primary-btn {
        position: absolute;
        left: 50%;
        bottom: 30px;
        min-width: 65%;
        padding: 12px 36px;
        z-index: 1;
        align-self: center;
        transform: translate(-50%);
        &:after {
          top: 13px;
        }
      }
      &:hover {
        a.primary-btn {
          border-color: $color_brightorange;
          background-color: $color_brightorange;
          color: $color_white;
          &:after {
            opacity: 1;
            right: 10px;
          }
        }
      }
    }
  }
}
