<div class="container-fluid">
  <app-header-new (loggedUserDetails)="receivedUserData($event)"></app-header-new>

  <site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>
  <div class="loader-bg" [hidden]="!showLoader"></div>
  <div class="loader" [hidden]="!showLoader"></div>
  
  <div class="container-body order-history-page">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-heading">
      <h1>My Reserved Sites</h1>
    </div>
    
    <!-- filters for order list starts -->
    <div [hidden]="orderData.length == 0" [ngClass]="{'result-desc-filter':orderData.length > 0}">
      <div class="combo-search-filter">
        <label>Search By:</label>
        <select [(ngModel)]="searchByType"  dir="rtl" (change)="filterValue = ''; searchValue=''">
          <option value="Order Number">Order Number</option>
          <option value="Site ID">Site ID</option>
        </select>
        <input type="text" (keyup.enter)="updateFilterValue()" (ngModelChange)="searchValuKeyUp()" [(ngModel)]="searchValue" />
        <span class="glyphicon glyphicon-search" [ngClass]="{'grey':searchValue.length==0}" (click)="updateFilterValue()"></span>
      </div>
    </div>

    <div class="clear-filter-con" [hidden]="orderData.length == 0 || filterValueObj.length == 0">
      <ul>
        <li *ngFor="let filt of filterValueObj">
          <span>{{filt.name}} ({{filt.value}})</span>
          <a (click)="filterValue = ''; searchValue=''; removeFilter(filt.name)"><span class="glyphicon glyphicon-remove"></span></a>
        </li>
      </ul>
      <a (click)="filterValue = ''; searchValue=''; this.filterValueObj=[]">CLEAR ALL</a>
    </div>
    <!-- filters for order list ends -->

    <div class="row order-history-main-display"
      data-infinite-scroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="300"
      (scrolled)="onScrollDown()">
      <div class="col-md-12">      
        <div class="navigation-bottom-menu-bottom">
          <div class="order-item" [class.accordClosed]="!orderItem.hideme" *ngFor="let orderItem of orderData | orderFilter:filterValue : filterValueObj  | slice:0:infiniteScrollCount">
            <div class="row">
              <div class="col-md-12">
                <div class="order-number">
                  <div>
                    <span>Order # <b>{{orderItem.increment_id}}</b></span>
                    <span>{{orderItem.created_at}}</span>
                  </div>
                  <div>
                    <span>{{orderItem.payment.additional_information[0]}} <span *ngIf="orderItem.payment.po_number">#{{orderItem.payment.po_number}}</span></span>
                    <span>Total One Time Fee: <b>${{orderItem.grand_total | number}}</b></span>
                    <span>Total Monthly Fee: <b>${{calucalteTotalMonthly(orderItem.extension_attributes.shipping_assignments[0].items) | number }}</b></span>
                  </div>                    
                </div>
                <div class="clearfix"> </div>
              </div>
              
                <div class="col-md-12">
                  <div class="site-name-container col-md-12" *ngFor="let site of orderItem.extension_attributes.shipping_assignments[0].items;let ind = index">
                    <div *ngIf="site.extension_attributes">
                        <a class="view-more" (click)="site.showsitedetails = !site.showsitedetails">
                          <span *ngIf="!site.showsitedetails" class="glyphicon glyphicon-plus plus-sign" aria-hidden="true"></span>
                          <span *ngIf="site.showsitedetails" class="glyphicon glyphicon-minus minus-sign" aria-hidden="true"></span>
                          Site Id # {{site.name}}
                        </a>
                        (<a href="javascript:void(0)" class="swap-site" (click)="swapSite(site)">Swap Site</a>)
                        <div class="site-details" [hidden]="!site.showsitedetails">
                          <div class="requested-item">
                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                              <agm-map [latitude]="site.extension_attributes.latitude" [longitude]="site.extension_attributes.longitude" [zoom]="15">
                                <agm-marker [latitude]="site.extension_attributes.latitude" [longitude]="site.extension_attributes.longitude" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'"></agm-marker>
                              </agm-map>
                            </div>
                      
                            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 view-details-left-sec">
                              <h3>{{site.extension_attributes.state}}, {{site.extension_attributes.city}}</h3>
                              <p *ngIf="site.extension_attributes.has_conduit_requested" class="conduitOption">Request for nearby city-owned fiber / conduit submission</p>
                              <p>Site Coordinates
                                <br> <span>({{site.extension_attributes.latitude}} , {{site.extension_attributes.longitude}})</span></p>
                              <p class="site-Details-loctype">Location Type <span>({{site.extension_attributes.city_area}})</span></p>
                              <p class="site-Details-type">Type <span>({{site.extension_attributes.pole_class}})</span></p>
                              <p>One Time Fee: <span><b>${{parseInt(site.price) | number}}</b></span></p>
                              <p>Rent/Lease Monthly Fee: <span><b>${{site.extension_attributes.rent_lease_fee | number}}</b></span></p>
                            </div>
                          </div>
                            
                          <!-- showing site drawing list and option to upload them starts -->
                          <div [ngClass]="{'no-site-drawing':orderItem.items[ind].extension_attributes.site_drawings.length===0}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 site-drawings-sec">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngIf="orderItem.items[ind].extension_attributes.site_drawings.length > 0">
                              <h3>Site Drawings</h3>
                              <ol>
                                <li *ngFor="let drawing of orderItem.items[ind].extension_attributes.site_drawings; let indx = index">{{drawing.label}}
                                  (<a href="javascript:void(0)" (click)="createDrawingImgSrc(drawing.file)">View</a>)
                                  <span class="glyphicon glyphicon-remove" title="remove drawing" (click)="removeDrawing(drawing, site.name, indx, orderItem.items[ind].extension_attributes)"></span>
                                </li>
                              </ol>
                            </div>
                            
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                              <div class="upload-drawing-container">
                                <button type="button" class="primary-btn new-btn-light-back">
                                  <span class="glyphicon glyphicon-cloud-upload"></span> Upload Drawings
                                </button>
                                <input type="file" class="drawings-upload-input" multiple name="drawingsUpload" accept="image/*" (change)="drawingUpload($event, site, orderItem.items[ind].extension_attributes)">
                              </div>
                            </div>
                          </div>
                          <!-- showing site drawing list and option to upload them ends -->
                        </div>
                    </div>
                  </div>
                </div>
              </div>

            <div class="clearfix"> </div>
          </div>
          <h2 class="no-orders-message" *ngIf="orderData.length == 0 && ordersFetched == true">No orders have been placed</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- modal to show site drawing -->
  <div class="modal" role="dialog" *ngIf="drawingImgSrc !== ''">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <i class="fa fa-times" (click)="drawingImgSrc = ''"></i>
        <div class="modal-body popupmodal-body">
          <img [src]="drawingImgSrc" />
        </div>
      </div>
    </div>
  </div>
  
  
  <site-selex-footer></site-selex-footer>
</div>
