@import "~sass/variables";
@import "~sass/mixins";

.order-history-page {
    background: $color_iron;
    padding-bottom: 20px;
    .order-title-filter {
        width: 70%;
        margin: 20px auto 0;
        display: flow-root;
        @include mqueryphone(320px, 767px) {
            width: 90%;
        }
        h1 {
            float: left;
            &.title {
                color: $color_white;
                font-weight: 700;
                @include mqueryphone(320px, 767px) {
                    font-size: 32px;
                }
            }
        }
    }
}

.order-history-main-display {
    color: $color_black;
    width: 75%;
    padding: 0px 10px 0 0;
    margin: 20px auto 0 auto;
    min-height: 300px;
    border-radius: 2px;
    @include mqueryphone(320px, 767px) {
        width: 100%;
        padding: 0;
    }
    .order-item {
        margin-bottom: 20px;
        padding: 10px 0px;
        &.accordClosed {
            padding-bottom: 0px;
            background: $background_color_light;
        }
        .order-number {
            width: 100%;
            float: left;
            border-bottom: 1px solid $color_lightestgrey;
            padding: 15px 15px 5px 20px;
            background: $background_color_light;
            >div {
                padding-left: 5px;
                >span {
                    width: 33%;
                    font-size: 20px;
                    display: inline-block;
                    vertical-align: top;
                    margin-bottom: 10px;
                    @include mqueryphone(414px, 1024px) {
                        font-size: 16px;
                        width: 32%;
                    }
                    @include mqueryphone(320px, 413px) {
                        width: 100%;
                    }
                }
            }
            .glyphicon-plus, .glyphicon-minus {
                float: left;
                margin-top: 8px;
                font-size: 22px;
                margin-right: 5px;
            }
            >p {
                display: inline-block;
                padding: 5px;
                // font-weight: 700;
                color: $color_black;
                font-size: 22px;
                width: 66%;
            }
            >span {
                font-size: 20px;
                margin-top: 7px;
                @include mqueryphone(320px, 767px) {
                    float: left;
                }
            }
        }
    }
}

.site-drawings-sec {
    margin: 15px 0;
    display: flex;
    @include mqueryphone(320px, 767px) {
        display: block;
    }
    &.no-site-drawing {
        >div {
            &:last-of-type {                
                text-align: left;
            }
        }
    }
    >div {
        padding: 0px;
        &:last-of-type {
            align-self: flex-end;
            text-align: right;
        }
    }
    h3 {
        color: $color_grey;
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 18px;
    }
    ol {
        padding-left: 15px;
        margin: 0px;
        @include mqueryphone(320px, 767px) {
            margin-bottom: 20px;
        }
        li {
          color: $color_grey;
          font-size: 16px;
          a {
            color: $color_brightorange;
            font-size: 14px;
          }
          .glyphicon-remove {
            color: $cross_color;
            vertical-align: bottom;
            margin-bottom: 2px;
            cursor: pointer;
          }
        }
    }
    .new-btn-light-back {
        font-size: 16px;
        padding: 10px 30px;
        width: 260px;
        max-width: 100%;
    }
    .upload-drawing-container {
        position: relative;
        display: inline-block;
        max-width: 100%;
        input[type="file"] {
            position: absolute;
            bottom: 0px;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }
    &.new-drawings {
        display: block;
        >ol {
            float: left;
            li {
                span.glyphicon-remove {
                    vertical-align: middle;
                    cursor: pointer;
                    color: $color_brightorange;
                }
            }
        }
        button {
            float: right;
        }
    }
}

.site-name-container {
    padding: 10px 10px 10px 25px;
    display: inline-block;
    width: 100%;
    @include mqueryphone(320px, 767px) {
        padding: 10px 10px 10px 20px;
    }
    >h3 {
        font-size: 20px;
    }
    >span {
        font-size: 20px;
    }
    .view-more {
        // margin-top: 5px;
        display: inline-block;
        font-size: 18px;
        cursor: pointer;
        // width: 100%;
        .glyphicon {
            color:$color_brightorange;
        }
    }
    .swap-site {
        color: $color_brightorange;
        font-size: 16px;
    }
    .site-details {
        width: 100%;
        margin-top: 5px;
        @include mqueryphone(320px, 767px) {
            width: 100%;
        }
        >p {
            display: inline-block;
            width: 33%;
            color: $color_grey;
            vertical-align: top;
            padding: 0 5px 0 15px;
            font-size: 18px;
            margin-bottom: 10px;
            &.conduitOption {
                display: block;
                margin-bottom: 5px;
                color: $color_black;
                width: 100%;
            }
            @include mqueryphone(414px, 1024px) {
                width: 32%;
            }
            @include mqueryphone(320px, 413px) {
                width: 100%;
            }
            >span {
                display: block;
            }
        }
    }
    .requested-item {
        padding-top: 10px;
        agm-map {
            height: 170px;
        }
        .view-details-left-sec {
            h3 {
                color: #000;
                padding-top: 15px;
                font-weight: 600;
                margin-bottom: 10px;
                font-size: 24px;
                padding-top: 0;
                @include mqueryphone(320px, 767px) {
                    margin-top: 15px;
                }
            }
            p {
                font-size: 14px;
            }
        }
    }
}

.status-div {
    padding: 10px 10px 10px 5px;
    @include mqueryphone(320px, 767px) {
        padding: 10px 10px 10px 20px;
    }
    >p {
        font-size: 1.2em;
        font-weight: 500;
    }
}

.no-orders-message {
    margin-bottom: 25px;
    color: #777;
}

.result-desc-filter {
    width: 70%;
    margin: 0 auto;
    display: flow-root;
    margin-top: 10px;
    @include mqueryphone(320px, 720px) {
        margin-top: 0px;
        width: 90%;
    }
    >p {
        display: inline-block;
        color: #fff;
        margin-top: 10px;
        font-size: 16px;
        >span {
            font-weight: bold;
        }
    }
}

.combo-search-filter {
    float: right;
    margin-top: 5px;
    font-size: 0px;
    position: relative;
    @include mqueryphone(320px, 414px) {
        float: left;
        margin-top: 20px;
    }
    >label {
        font-size: 20px;
        color: $color_black;
        margin-right: 7px;
        @include mqueryphone(320px, 414px) {
            width: 100%;
        }
    }
    >select, >input {
        border: 0px;
        height: 36px;
        font-size: 16px;
        color: $color_black;
        border-right: 0px;
        background: transparent;
        @include mqueryphone(320px, 414px) {
			width: 45%;
		}
    }
    >select {
        margin-left: 10px;
        -moz-text-align-last: right; /* Code for Firefox */
        text-align-last: right;
        @include mqueryphone(320px, 720px) {
            margin-left: 0px;
        }
        option {
            direction: rtl;
        }
    }
    >input {
        width: 180px;
        padding: 5px;
        border-bottom: 1px solid $color_lightgrey;
        padding-right: 30px;
        &:focus {
            outline: none;
        }
        @include mqueryphone(414px, 767px) {
			width: 120px;
        }
        @include mqueryphone(320px, 413px) {
			width: 55%;
		}
    }
    .glyphicon-search {
        font-size: 22px;
        position: absolute;
        right: 7px;
        top: 6px;
        cursor: pointer;
        color: #ef6b25;
        &.grey {
            color: #777;
        }
        @include mqueryphone(320px, 414px) {
			top: 34px;
		}
    }
}
.clear-filter-con {
    >ul {
        >li {
            display: inline-block;
            margin-right: 10px;
            @include mqueryphone(320px, 720px) {
                margin-bottom: 10px;
                min-width: 60%;
            }
            span {
                color: $color_black;
            }
        }
    }
    >a {
        margin-left: 0px;
        color: $color_black;
    }
}

.modal {
    display: block;
    img {
        display: flex;
        padding: 20px 0;
        margin: 0 auto;
        max-height: 400px;
        max-width: 100%;
    }
    .fa.fa-times {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        z-index: 1;
    }
}