@import "~sass/variables";
@import "~sass/mixins";

.fixed-height {
	height: 193px;
	@include mqueryipad(768px, 1024px) {
		height: 153px;
	}
	@include mqueryphone(320px, 767px) {
		height: 133px;
	}
}

.footer {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: #eee;
	.footer-container {
		padding: 60px 0;
		border-top: solid 1px $color_lightgrey;
		justify-content: space-between;
		flex-wrap: wrap;
		min-height: 60px;
		@include mqueryipad(768px, 1024px) {
			padding: 40px 0;
		}
		@include mqueryphone(320px, 767px) {
			padding: 30px 0;
		}
		@include mquery(480px) {
			width: 100%;
			justify-content: center;
		}
		.footer-content {
			@include mquery(991px) {
				width: 100%;
				justify-content: center;
			}
			a.plain-link {
				color: $color_black;
				margin-left: 15px;
				margin-right: 15px;
				@include mqueryphone(320px, 767px) {
					margin-left: 5px;
					margin-right: 5px;
				}
				&:after {
					content: "|";
					margin-left: 30px;
					@include mqueryphone(320px, 767px) {
						margin-left: 10px;
					}	
				}
				&:last-of-type {
					&:after {
						content: "";
						margin-left: 0;
					}	
				}
			}
		}
		.copyright-text {
			margin-top: 20px;
			p {
				font-size: 15px;
				color: $color_black;
				line-height: 1.8em;
				margin-right: 20px;
			}
			@include mquery(991px) {
				display: inline-block;
			}
			@include mquery(320px) {
				font-size: 15px;
			}
		}
	}
}


