@import "~sass/variables";
@import "~sass/mixins";
.container-fluid {
  padding: 0px;
}

.container-heading-upload {
  background-image: linear-gradient(#43B02A 0%, #100c23 100%);
  padding: 120px 20px 100px 20px;
  img {
    height: 200px;
  }
  >h1 {
    position: absolute;
    top: 30px;
    font-size: 32px;
    left: 30px;
    letter-spacing: 2px;
  }
  >p {
    margin-top: 50px;
  }
}
.dark-bcgd {
  float: left;
  width: 100%;
  >form {
    background: rgb(27, 27, 27);
    position: relative;
    padding: 20px 0;
  }
}

.state-city-drpdwn {
  margin: 0px;
  display: inline-block;
  width: 100%;
  padding: 15px 15px 10px 15px;
  @include mqueryphone(320px, 767px) {
    padding-bottom: 10px;
  }
  select {
    outline: none;
    font-size: 16px;
    color: $background_color_light;
    padding: 10px;
    border: 1px solid $background_color_light;
    width: 100%;
  }
  .download-file-con {
    background-size: cover;
    width: 30%;
    padding-top: 8px;
    font-size: 18px;
    position: absolute;
    top: 5%;
    right: 2%;
    height: 90%;
    background: url("../../assets/downloadKMZ.png");
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    background-size: cover;
    @include mqueryphone(320px, 767px) {
      position: static;
      width: 100%;
      min-height: auto;
      margin-top: 10px;
      padding-bottom: 0;
      background: none;
    }
    .fa-download {
      &:before {
        font-size: 16px;
      }
    }
    button {
      color: $background_color_light;
      span {
        vertical-align: top;
        margin-left: 5px;
      }
      &.primary-btn {
        background: $color_white;
        color: $color_black;
        font-weight: 500;
        font-size: 16px;
        &:hover {
          background: $color_brightorange;
          color: $color_white;
        }
        &:after {
          font-weight: bold;
        }
      }
    }
  }
  .sample-site-request {
    padding-top: 8px;
    font-size: 18px;
    margin-top: 10px;
    display: inline-block;
    .fa-download {
      &:before {
        font-size: 24px;
      }
    }
    a {
      color: $background_color_light;
    }
  }
}

.map-section {
  position: relative;
  color: $color_black;
  margin-bottom: 0;
  padding: 25px 24px 0px 25px;
  .fa-location-arrow {
    position: absolute;
    top: 30px;
    right: 30px;
    background: $color_white;
    cursor: pointer;
    z-index: 1;
    border: 6px solid $color_white;
  }
  agm-map {
    height: 400px;
  }
  .map-loader {
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 0px;
    .small-loader {
      border: 6px solid $color_white;
      border-top: 6px solid $color_lightorange;
      width: 40px;
      height: 40px;
      top: 45%;
      right: 50%;
    }
  }
}

.enter-id-sec {
  margin: 0px;
  padding: 0px 15px 20px 15px;
  .primary-btn {
    width: 80%;
    margin-top: 8px;
    @include mqueryphone(320px, 767px) {
      margin-top: 40px;
    }
  }
}

.site-reservation-cart-sec {
  margin: 20px 0 0 0;
  padding: 0px 15px; // color: #fff;
  background: $color_iron;
  @include mqueryphone(320px, 767px) {
    padding: 0px;
  }
  h3 {
    // border-top: 1px solid #fff;
    padding-top: 15px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .note {
    margin-bottom: 15px;
    font-weight: bold;
  }
  .search-item {
    padding: 15px 0 15px 0;
    margin: 0 0 20px 0;
    background: rgb(216, 216, 216);
    .site-details-con {
      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-bottom: 10px solid $color_white;
        top: -10px;
        left: 51%;
      }
      background: $color_white;
      margin-top: 20px;
      padding: 15px;
      position: relative;
      .glyphicon-remove {
        position: absolute;
        right: 2%;
        top: 10%;
        z-index: 1;
        cursor: pointer;
      }
      agm-map {
        height: 170px;
      }
      h3 {
        color: $color_black;
      }
      .view-details-left-sec {
        span {
          display: block;
          color: $color_black;
          // font-weight: 600;
          font-size: 14px;
          letter-spacing: 0.5px;
        }
      }
      .view-details-right-sec {
        ol {
          padding-left: 15px;
          li {
            color: $color_black;
            font-weight: 600;
            font-size: 14px;
            a {
              color: $color_brightorange;
              font-size: 14px;
            }
          }
        }
        .primary-btn {
          margin-top: 20px;
          padding: 5px 10px;
        }
      }
    }
  }
  .search-item-left-sec {
    color: $color_black;
    border-right: 2px solid rgb(179, 179, 179);
    padding-right: 25px;
    h4 {
      font-weight: 600;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
      &.rent-lease-fee {
        display: inline-block;
        margin-right: 10px;
      }
    }
    span {
      font-size: 18px;
      &.billed-annually {
        display: inline-block;
        margin-bottom: 10px;
      }
    }
    .lease-term-field {
      width: 50%;
    }
    .optionalSiteFeeLabel {
      margin-top: 10px;
      display: block;
    }
    .optionalConduitLabel {
      margin-top: 10px;
      display: block;
      margin-bottom: 15px;
    }
    .wait-list-mes {
      color: $color_red;
      font-weight: bold;
      margin: 10px 0 10px 0;
    }
  }
  .search-item-right-sec {
    color: $color_black;
    padding-top: 30px;
    margin-bottom: 20px;
    &.site-details-shown {
      margin-bottom: 0px;
    }
    .otf-total {
      font-weight: 600;
    }
    p {
      font-size: 18px;
    }
    span {
      font-size: 18px;
    }
    .glyphicon-plus,
    .glyphicon-minus {
      color: $color_brightorange;
      cursor: pointer;
    }
    .view-details {
      margin-top: 45px;
      display: inline-block;
      position: relative; 
    }
    .site-details {
      font-size: 15px;
      margin-left: 25px;
    }
  }
  .remove-site-sec {
    text-align: center;
    >a {
      font-size: 3em;
      font-family: sans-serif;
      margin-top: 30%;
      color: $color_brightorange;
      display: inline-block;
      @include mqueryphone(320px, 767px) {
        margin-top: 80%;
      }
    }
    >p {
      margin-top: -18px;
      z-index: -1;
      color: $color_black;
      cursor: pointer;
    }
  }
}

.review-order-btn-container {
  padding: 0px 0px 20px 30px;
  background: $color_iron;
  @include mqueryphone(320px, 767px) {
    padding: 0px 0px 20px 0px;
    text-align: center;
  }
}

// .request-site-sec {
//   background-image: url("../../assets/requestSite.jpg");
//   background-position: center;
//   background-size: cover;
//   padding: 40px;
//   color: $color_black;
//   >div {
//     display: inline-block;
//     padding: 20px;
//     background: rgba($color_white, 0.2);
//   }
//   margin: 0px;
//   p {
//     letter-spacing: 1px;
//     font-weight: 700;
//     font-size: 24px;
//   }
//   h3 {
//     margin-top: 20px;
//     font-size: 40px;
//     font-weight: 700;
//   }
//   a {
//     margin-top: 35px;
//   }
// }

.upload-file-section {
  margin: 0px;
  color: #eeeeee;
  padding: 20px;
  border: 2px dashed $color_darkgrey;
  width: 96%;
  margin: 0 auto 30px auto;
  position: relative;
  &:hover {
    .new-btn-dark-back {
      border-color: $color_brightorange;
      background-color: $color_brightorange;
      color: $color_white;
      &:after {
        opacity: 1;
          right: 10px;
      }
    }
    .glyphicon-cloud-upload {
      color: $color_brightorange;
    }
  }
  >p {
    margin-bottom: 20px;
    margin-right: 15px;
    font-size: 20px;
    span {
      vertical-align: top;
      margin-top: 5px;
      display: inline-block;
      &.glyphicon-cloud-upload {
        font-size: 30px;
        margin-right: 10px;
        vertical-align: bottom;
        margin-top: 0px;
      }
    }
  }
  >span {
    display: block;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 18px;
  }
}

.upload-file-section {
  .available-brief-details {
    padding: 0px;
    .brief-desc-con {
      background: $color_lightestgrey;
      padding: 15px 8px;
      margin-top: 20px;
      position: relative;
      >p {
        display: inline-block;
        color: $color_black;
        font-size: 14px;
        font-weight: bold;
        @include mqueryphone(320px,
        767px) {
          width: 50%;
        }
        a {
          color: $color_black;
          font-size: 14px;
          font-weight: bold;
        }
      }
      .badge {
        position: absolute;
        right: 10%;
        top: 12px;
        font-size: 18px;
        height: 30px;
        border-radius: 50%;
        line-height: 25px;
        @include mqueryipad(768px,
        1024px) {
          right: 2%;
        }
      }
      &.available {
        >span {
          color: $color_como;
          width: 90px;
          display: inline-block;
          font-weight: bold;
          @include mqueryphone(320px,
          767px) {
            vertical-align: top;
          }
          &.badge {
            width: 30px;
            color: $color_black;
            background: $color_como;
          }
        }
      }
      &.waitlist {
        >span {
          color: $color_contessa;
          width: 90px;
          display: inline-block;
          font-weight: bold;
          @include mqueryphone(320px,
          767px) {
            vertical-align: top;
          }
          &.badge {
            width: 30px;
            color: $color_black;
            background: $color_contessa;
          }
        }
      }
    }
    .clear-all-sec {
      >a {
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
        color: $color_white;
        >span {
          font-weight: bold;
          color: $cross_color;
          font-family: sans-serif;
        }
      }
    }
  }
  .available-bried-right {
    padding: 15px 5%;
    >label {
      font-size: 20px;
      color: $color_white;
      letter-spacing: 1px;
      &.customChekboxLable {
        padding-left: 40px;
      }
      i {
        border-color: $color_brightorange;
        background-color: transparent;
        height: 25px;
        width: 25px;
        &:after {
          transform-origin: 11px 17px;
          width: 10px;
          height: 20px;
        }
      }
    }
    >button {
      display: block;
      margin-top: 8.5%;
      width: 80%;
      padding: 20px;
      font-size: 22px;
      &:after {
        top: 20.5px;
      }
      @include mqueryipad(768px,
      1024px) {
        width: 100%;
        font-size: 18px;
      }
      @include mqueryphone(320px,
      767px) {
        width: 100%;
      }
    }
  }
}

.show-more-upload-site-details {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.3);
  .glyphicon-remove {
    color: $cross_color;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
  }
  p {
    margin: 10px 0 0 0;
  }
}

.bulk-file-input {
  position: absolute;
  opacity: 0;
  border: 0;
  background: none;
  filter: alpha(opacity=0);
  outline: none;
  left: 0px;
  top: 0px;
  cursor: pointer;
  width: 100%;
  z-index: 1;
  height: 100%;
}

.waitListSuccessMsg {
  font-size: 18px;
  color: $color_lightorange;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding-left: 15px;
  margin-bottom: 20px;
  font-weight: 700;
  .glyphicon-ok {
    color: $color_green;
    margin-right: 5px;
    font-size: 1.2em;
  }
}

.site-search-item-mat-check {
  display: block;
}