.mat-elevation-z8 {
  width: 100%;
}

.no-invoice-message {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #000;
  padding: 15px 10px 15px 0;
  background: #e2e3e6;
  display: block;
  width: 100%;
}