<div class="loader-bg" [hidden]="!showLoader"></div>
<div class="loader" [hidden]="!showLoader"></div>

<div *ngIf="dataSource.length>0">
  <!-- go to angular material table documentation to understand the html -->
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="InvoiceNumber">
      <th mat-header-cell *matHeaderCellDef> Invoice Number </th>
      <td mat-cell *matCellDef="let element"> {{element.InvoiceNumber}}</td>
    </ng-container>
  
    <ng-container matColumnDef="SkuId">
      <th mat-header-cell *matHeaderCellDef> Site Id </th>
      <td mat-cell *matCellDef="let element"> {{element.SkuId}}</td>
    </ng-container>
    
    <ng-container matColumnDef="CreatedAt">
      <th mat-header-cell *matHeaderCellDef> Invoice Date </th>
      <td mat-cell *matCellDef="let element"> {{element.CreatedAt}}</td>
    </ng-container>

    <ng-container matColumnDef="Qty">
      <th mat-header-cell *matHeaderCellDef> Qty </th>
      <td mat-cell *matCellDef="let element"> {{element.Qty}}</td>
    </ng-container>
    
    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef> Monthly Price </th>
      <td mat-cell *matCellDef="let element"> ${{element.Price | number:'1.2-2'}}</td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="5">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
           <p>sdadsada</p>
          </div>
        </div>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="example-detail-row"></tr>
  </table>
</div>

<h2 class="no-invoice-message" *ngIf="dataSource.length == 0 && !showLoader">No active invoices</h2>