@import "~sass/variables";
@import "~sass/mixins";

.account-management-body {
  h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
		margin-top: 20px;
		padding: 20px 0;
		background: $color_black;
		color: $color_white;
  }

  mat-tab-group {
    margin: 0 15%;
  }
}

.ponumber-details {
	width: 90%;
	margin: 0 auto;
	padding: 20px 5% 0 5%;
	min-width: 440px;
}

.add-new-ponumber, .add-new-contact {
	margin-bottom: 30px;
	span {
		font-size: 20px;
		font-weight: 700;
		cursor: pointer;
		&.glyphicon-plus {
			color: $color_brightorange;
			margin-right: 5px;
		}
	}
}

.new-ponumber-add-section {
	background-color: $color_white;
	padding: 20px;
	margin: 0 0 60px 0;
	.cancelAddPonumber {
		margin-left: 15px;
		cursor: pointer;
	}
}

.new-ponumber-box {
	textarea {
		width: 282px;
		height: 45px;
	}
}

.all-ponumber-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@include mqueryphone(320px, 767px) {
		justify-content: center;
	}
}

.ponumber-card {
	padding: 0 15px 30px 15px;
	background-color: $color_white;
	margin-bottom: 20px;
	width: 49%;
	position: relative;
	height: auto;
	height: fit-content;
	.glyphicon {
		margin-right: 5px;
	}
	>p {
		padding: 5px;
		font-size: 18px;
		word-break: break-all;
		width: 100%;
		>span {
			font-weight: 300;
			font-size: 16px;
			display: block;
		}
	}
	.ponumber-number {
		font-size: 24px;
		font-weight: 700;
		margin-top: 10px;
	}
	.ponumber-email {
		font-size: 18px;
	}
	.ponumber-phone {
		font-size: 16px;
	}
	@include mqueryphone(320px, 767px) {
		margin-right: 10px;
	}
}

.row-delete-icon-wrap-card {
	height: 18px;
	text-align: center;
	line-height: 18px;
	position: absolute;
	right: 5px;
	top: 5px;
	.glyphicon, .fa-pencil-alt {
		cursor: pointer;
	}
	.glyphicon-remove {
		top: 4px;
		margin-left: 10px;
		font-size: 19px;
		color: $color_brightorange;
	}
}

.ponumber-number {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}

.ponumber-save-success {
	margin: 0px;
	display: none;
	text-align: left;
	font-weight: 700;
	margin-bottom: 25px;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.profile-page {
	background: #e2e3e6;
}