<div class="container-fluid">
  <app-header-new (loggedUserDetails)="receivedUserData($event)"></app-header-new>
  
  <site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>
	<div class="loader-bg" [hidden]="!showLoader"></div>
	<div class="loader" [hidden]="!showLoader"></div>
  
  <div class="container-body account-management-body">
    <h1>Account Management</h1>

    <mat-tab-group (selectedTabChange)="selectedTabChange($event)">
      <mat-tab label="Site Requests">
        <app-my-site-requests></app-my-site-requests>
      </mat-tab>

      <mat-tab label="My Waitlist">
        <app-wait-list-sites></app-wait-list-sites>
      </mat-tab>
      
      <mat-tab label="Purchase Orders">
        <div class="col-md-12 profile-page ponumber-tab">
					<div class="ponumber-details">
						<div class="add-new-ponumber" (click)="addPo()">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							<span>Add Purchase Order</span>
						</div>
		
						<form class="row new-ponumber-add-section" *ngIf="addNewPoTrue" (ngSubmit)="savePoNo(addPoNumberForm)" #addPoNumberForm="ngForm">
							<div class="col-lg-12 col-md-12 new-ponumber-box">
								<mat-form-field>
									<input matInput #newPoNumberInp placeholder="Puchase Order" required [(ngModel)]="newPoNumber" name="newPoNumber">
								</mat-form-field>
							</div>
							<div class="col-lg-12 col-md-12 new-ponumber-box">
								<mat-form-field>
									<input matInput placeholder="Comments" required [(ngModel)]="newPoComment" name="newPoComment">
								</mat-form-field>
							</div>
							<div class="col-md-12 new-ponumber-addbtn-box">
								<button type="submit" [disabled]="addPoNumberForm.invalid" [ngClass]="{'disabled-btn':addPoNumberForm.invalid}" class="primary-btn primary-btn-main">{{poAddFlag?'Add':'Update'}}</button>
								<a (click)="addNewPoTrue=false" class="cancelAddPonumber">Cancel</a>
							</div>
						</form>
		
						<form id="ponumber-form">
							<div class="all-ponumber-cards">
								<div class="ponumber-card" *ngFor="let poItem of ponumberdata; let index = index ">
									<div class="ponumber-edit-delete row-delete-icon-wrap-card">
										<i class="hidden-xs fas fa-pencil-alt" data-type="po" data-id="{{poItem.po_id}}" (click)="editPo(poItem, index);"></i>
										<span class="glyphicon glyphicon-remove" (click)="deletePo(poItem.po_id, index)"></span>										
									</div>
									<p class="ponumber-number"><span>Purchase Order </span>{{poItem.po_number}}</p>
									<p class="ponumber-comments"><span>Notes </span>{{poItem.comment}}</p>
								</div>
							</div>
		
							<span class="text-success ponumber-save-success">PO numbers saved successfully</span>
						</form>
					</div>
				</div>
      </mat-tab>

      <mat-tab label="My Invoice">
				<app-my-invoice [showInvoiceTab]="invoiceTabActive"></app-my-invoice>
			</mat-tab>
    </mat-tab-group>
  </div>

	<site-selex-footer></site-selex-footer>	
</div>