@import "~sass/variables";
@import "~sass/mixins";

.request-site-page {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    .title-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        >div {
            width: 70%;
            margin: 0 auto;
            h1 {
                font-size: 40px;
                line-height: 40px;
                font-weight: 600;
                color: $color_white;
                margin: 20px 0px 15px 0px;
            }
            p {
                color: $color_white;
                margin: 0px 0px 20px 0px;
            }
        }        
    }
    .request-ste-form-con {
        padding: 0px;
        padding-top: 20px;
    }
    .request-ste-form {
        background: #fff;
        padding: 35px 45px;
        width: 70%;
        margin: 0 auto;
        @include mqueryphone(320px, 767px) {
            padding: 15px 15px;
        }
        label {
            margin-bottom: 5px;
            width: 100%;
        }
        input[type="text"], select {
            outline: none;
            font-size: 16px;
            padding: 6px;
            border: 1px solid #a7a7a7;
            width: 100%;
            margin: 0 0 15px 0;
            color: #000;
            background: #fff;
            height: 37.33px;
        }
        select {
            padding: 5px;
        }
        .mat-form-field {
            margin-top: 15px;
        }
        .primary-btn {
            margin-top: 15px;
        }
        .other-pole-selected {
            .mat-form-field {
                width: 33%;
                @include mqueryphone(320px, 767px) {
                    width: 45%;
                }
            }
            .mat-form-field-type-mat-input{
                width: 67%;
                // border-left: 0px;
                @include mqueryphone(320px, 767px) {
                    width: 55%;
                }
            }
        }
        .lat-lon-help-text {
            color: $color_lightorange;
            margin-top: -15px;
            margin-bottom: 5px;
            display: block;
        }
    }

    .navigation-bottom {
        background: #fff;
        width: 70%;
        display: inline-block;
        margin-top: 40px;
        margin-left: 15%;
        h3 {
            margin: 15px 0 0px 20px;
        }
        .view-details-left-sec {
            h3 {
                margin: 0 0 10px 0;
                color: #000;
                border-top: 1px solid #fff;
                font-weight: 600;
            }
            span {
                display: block;
                color: #000;
                // font-weight: 600;
                font-size: 14px;
                letter-spacing: .5px;
            }
            .on-hold {
                position: absolute;
                right: 0px;
                top: 0px;
                font-size: 18px;
                font-weight: 700;
                @include mqueryipad(768px, 1024px) {
                    position: inherit;
                }
                @include mqueryphone(320px, 767px) {
                    position: inherit;
                }
            }
            .primary-btn {
                position: absolute;
                right: 0px;
                top: 0px;
                @include mqueryipad(768px, 1024px) {
                    position: inherit;
                    margin-top: 10px;
                }
                @include mqueryphone(320px, 767px) {
                    position: inherit;
                    margin-top: 10px;
                }
            }
        }
        .requested-item {
            padding: 1em 16px;
            border-bottom: 1px solid #d2d2d2;
            position: relative;
            display: inline-block;
            width: 100%;
            .cancel-section {
                position: absolute;
                right: 0;
                text-align: right;
                padding-right: 30px;
                z-index: 1;
                .glyphicon-remove {
                    color: $cross_color;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
            .site-details {
                >p {
                    display: inline-block;
                    width: 33%;
                    color: $color_grey;
                    vertical-align: top;
                    padding: 0 5px 0 15px;
                    font-size: 15px;
                    margin-bottom: 10px;
                    @include mqueryipad(768px, 1024px) {
                        width: 32%;
                    }
                    @include mqueryphone(320px, 767px) {
                        width: 49%;
                    }
                    >span {
                        font-size: 18px;
                        color: $color_darkgrey;
                        @include mqueryphone(320px, 1024px) {
                            display: block;
                        }
                    }
                }
            }            
        }
        .request-sites-btn-container {
            padding: 2em;
            &.message-only {
                padding: 1em;
            }
            >p {
                font-size: 18px;
                // font-weight: 600;
                padding-left: 20px;
            }
        }
        .request-success-msg {
            padding: 16px 10px 0px 40px;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 5px;
            .glyphicon-ok {
                color: $color_green;
                margin-right: 5px;
            }
        }
        .request-success-msg-two {
            padding: 0px 10px 0px 40px;
            font-weight: 600;
            margin-bottom: 5px;
            font-size: 16px;
        }
    }
}

agm-map {
    height: 150px;
}