<div class="smart-main flex-column-display">
  <!-- custom popup component to show alerts/error -->
  <site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>

  <header class="login-header">
    <h6 class="title"><img src="./assets/SD_logo.png" title="logo"></h6>
  </header>

  <div class="sign-in-page remove-mrgn-left-right">
    <div class="login-main-container">
      <div class="site-acquisition-quote">
          <p>Site acquisition and planning for small cell deployment made easy</p>
      </div>

      <div class="register" *ngIf="isLoginVisible">
        <form class="loginPageForm" [class.captchaHeight]="invalidUserCount>1" action="site/home.html" #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
          <div class="pad-0-20">
            <h1>Welcome!</h1>
            <div class="pos-rel">
                <label><span class="glyphicon glyphicon-user"></span> </label>
                <input minlength="4" (focus)="loginErrorTrue=false" placeholder="Email address" #loginMail="ngModel" ngModel id="loggedEmail" class="mail" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" type="email" name="email" required="">
                <span *ngIf="loginMail.valid" class="glyphicon glyphicon-ok"></span>
            </div>
            <div class="pos-rel">
                <label><span class="glyphicon glyphicon-lock"></span> </label>
                <input class="lock" (focus)="loginErrorTrue=false" placeholder="Password" #loginPassword ngModel type="password" id="loggedPass" name="password" required="">
                <span (click)="showHidePassword()" *ngIf="!eyeOpen" class="glyphicon glyphicon-eye-close"></span>
                <span (click)="showHidePassword()" *ngIf="eyeOpen" class="glyphicon glyphicon-eye-open"></span>
            </div>
            <p class="loginError" [hidden]="!loginErrorTrue">{{loginErrorText}}</p>
              
            <!-- recaptcha container shows up if user fails login twice -->
            <div class="re-captcha" *ngIf="invalidUserCount>1">
              <re-captcha 
                (resolved)="resolved($event)" type="image"
                siteKey="6Lc9SGYUAAAAAD7tPcTxVBVJSo5mmSk64ks-uu92">
              </re-captcha>
            </div>

            <div class="sign-up">
              <button class="primary-btn primary-btn-main" [disabled]="loginForm.invalid" [class.disabled-btn]="loginForm.invalid" type="submit">Sign In</button>
            </div>
            <h3><img src="../../assets/reset_icon.png"><a href="javascript:void(0)"  [routerLink]="['/forgotpassword']"> Forgot Password</a></h3>
          </div>
          
          <div class="not-registered-cont">
            <p *ngIf="!loginNotRegistered">Not Registered? <a (click)="loginNotRegistered=true" href="javascript:void(0)">Contact Us</a></p>
            <p *ngIf="loginNotRegistered">Email: <a href="mailto:registration@salesdirect.com">selex-registration@salesdirect.com</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer class="login-footer">
      <p class="copyright-text">&copy; 2018 Sales Direct. All rights reserved</p>
  </footer>
</div>
