@import "~sass/variables";
@import "~sass/mixins";

body {
	background: $color_white;
}

.login-header {
	background-color: $color_alabaster;
	h6 {
		&.title {
			text-align: left;
			padding: 5px 30px;
			height: 70px;
			margin-bottom: 0px;
			img {
				height: 45px;
				cursor: pointer;
			}
		}
	}
}

.forgot-page-main {
	flex: 1 0 auto;
	background: $color_white;
	h1 {
		color: $color_white;
		margin-bottom: 20px;
		font-weight: 600;
		font-size: 35px;
		opacity: .85;
		background: $color_brightorange;
    	padding: 15px 10px 18px 30px;
	}
	.email-validated-success {
		padding-left: 30px;
		font-size: 18px;
		.fa-check {
			color: $color_green;
			margin-right: 3px;
		}
	}
	form {
		width: 65%;
		display: inline-block;
		vertical-align: top;
		padding-left: 15px;
		padding-right: 30px;
		margin-bottom: 20px;
		@include mqueryphone(320px, 767px) {
			width: 100%;
		}
		h2 {
			padding-left: 15px;
			margin-top: 20px;
			margin-bottom: 15px;
			font-size: 24px;
			font-weight: 700;
		}
		.primary-btn {
			margin-top: 10px;
		}
		.mat-error {
			width: 100%;
			display: block;
			float: left;
			padding-left: 15px;
			margin-bottom: 10px;
			font-size: 16px;
		}
		&.choose-form {
			padding-left: 30px;
			h2 {
				padding-left: 0px;
				margin-bottom: 40px;
			}
			.flex-con {
				display: flex;
				width: 100%;
				@include mqueryphone(320px, 767px) {
					display: block;
				}
				>div {
					box-shadow: 5px 5px 10px $color_lightgrey;
					padding: 40px 10px;
					text-align: center;
					width: 48%;
					@include mqueryphone(320px, 767px) {
						width: 100%;
					}
					.disabled-btn-tem {
						color: $color_lightgrey !important;
						border: solid 2px $color_lightgrey !important;
						background-color: $color_transparent !important;
						&:hover {
							background: $color_brightorange !important;
							color: $color_white !important;
							border-color: $color_brightorange !important;
						}
					}
					p {
						font-size: 17px;
						margin-bottom: 20px;
						&.note {
							margin-top: 35px;
							text-align: left;
							font-size: 12px;
							margin-bottom: 0px;
						}
					}
					&:first-of-type {
						margin-right: 6%;
						@include mqueryphone(320px, 767px) {
							margin-right: 0;
							margin-bottom: 20px;
						}
					}
				}
			}
			.mat-error {
    			padding-left: 0px;
			}
		}
		&.final-reset-form {
			margin: 0 2%;
			width: 61%;
			padding-bottom: 20px;
			padding-left: 0px;
			@include mqueryphone(320px, 767px) {
				margin-left: 0;
			}
			@include mqueryphone(320px, 767px) {
				width: 100%;
			}
			h2 {
				padding-left: 5px;
			}
			.for-bg {
				background: $color_cararra;
				padding: 30px 20px 0 20px;
				display: inline-block;
				width: 100%;
				margin: 15px 0 25px 0;
			}
			.security-ques-con {
				padding: 0 15px;
				margin-bottom: 20px;
			}
			.primary-btn {
				margin-top: 0px;
			}
		}
	}
	.final-reset-head {
		font-size: 20px;
		margin-left: 30px;
		margin-top: 30px;
	}
	>img {
		max-height: 400px;
		margin-top: 50px;
		float: right;
		margin-right: 5%;
		max-width: 30%;
		@include mqueryipad(768px, 1024px) {
			max-height: 220px;
		}
		@include mqueryphone(320px, 767px) {
			width: 60%;
			max-width: none;
			max-height: none;
			margin-left: 20%;
			float: none;
			margin-bottom: 20px;
		}
	}
}

.reset-successful {
	padding-left: 30px;
    width: 65%;
	margin-top: 10px;
	display: inline-block;
    vertical-align: top;
	h3 {
		margin-bottom: 10px;
	}
	.fa-check {
		color: $color_green;
	}
}

.login-footer {
	background-color: $color_alabaster;
	.copyright-text {
		padding: 8px 30px 15px 30px;		
	}
}

.re-captcha {
	display: inline-block;
    width: 100%;
    margin-left: 15px;
}