
<div class="container-fluid">
  <app-header-new></app-header-new>

  <!-- to show loader on api request and custom popup alert -->
	<site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>
	<div class="loader-bg" [hidden]="!showLoader"></div>
  <div class="loader" [hidden]="!showLoader"></div>
  
	<div class="request-site-page container-body">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-heading">
      <h1>New Site Requests</h1>
      <p>Review and create the requested site(s)</p>
    </div>
  
    <div class="row site-requests-main-display">
      <div class="col-md-12">
        <!-- form for admin to approve the site request and add/edit any details before approving starts -->
        <form *ngIf="showAddSiteForm" #addSiteForm="ngForm" class="row addEditSiteForm">
          <div class="col-md-6">
            <label>State</label>
            <input type="text" required disabled name="state" [(ngModel)]="siteFormModel.state">
          </div>
          <div class="col-md-6">
            <label>City</label>
            <input type="text" required disabled name="city" [(ngModel)]="siteFormModel.city">
          </div>
          <div class="col-md-6">
            <label>Latitude</label>
            <input type="text" required disabled name="latitude" [(ngModel)]="siteFormModel.latitude">
          </div>
          <div class="col-md-6">
            <label>Longitude</label>
            <input type="text" required disabled name="longitude" [(ngModel)]="siteFormModel.longitude">
          </div>
          <div class="col-md-6">
            <label>Location Type</label>
            <input type="text" required disabled name="locType" [(ngModel)]="siteFormModel.locType">
          </div>
          <div class="col-md-6">
            <label>Pole Type</label>
            <input type="text" required disabled name="poleType" [(ngModel)]="siteFormModel.poleType">
          </div>
          <div class="col-md-6">
            <label>One Time Fee</label>
            <input type="text" required name="siteSelectionFee" [(ngModel)]="siteFormModel.siteSelectionFee">
          </div>
          <div class="col-md-6">
            <label>Rent/Lease Monthly Fee</label>
            <input type="text" required name="rentLeaseMonthlyFee" [(ngModel)]="siteFormModel.rentLeaseMonthlyFee">
          </div>
          <div class="col-md-6">
            <label>Site Survey &amp; Lease Exhibit(Fee)</label>
            <input type="text" required name="siteSurveyLeaseFee" [(ngModel)]="siteFormModel.siteSurveyLeaseFee">
          </div>

          <div class="col-md-12">
            <button type="submit" (click)="createSiteSubmit()" [disabled]='addSiteForm.invalid' [class.disabled-btn]="addSiteForm.invalid" class="primary-btn primary-btn-main">Add Site</button>
            <a href="javascript:void(0)" (click)="showAddSiteForm=false;" class="cancelAddPonumber">Cancel</a>
          </div>
        </form>
        <!-- form for admin to approve the site request and add/edit any details before approving ends -->
      </div>

      <div class="col-md-12">      
        <div class="navigation-bottom-menu-bottom">
          <!-- filter to show request since a particular date starts -->
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 clndr-container">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" (dateChange)="onDateChanged()" (click)="picker.open()" [max]="maxDate" required placeholder="Site Requests From" [formControl]="startDateModel">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <!-- filter to show request since a particular date ends -->

          <h2 class="no-orders-message" *ngIf="siteRequests.length == 0 && siteFetched == true">No new sites has been requested</h2>

          <!-- show list of new site requests starts -->
          <div *ngFor="let site of siteRequests" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 site-details-con">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <agm-map [latitude]="site.latitude" [longitude]="site.longitude" [zoom]="8">
                <agm-marker [latitude]="site.latitude" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'" [longitude]="site.longitude"></agm-marker>
              </agm-map>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 view-details-left-sec">
              <h3 *ngIf="site.request_id">Request ID #{{site.request_id}}</h3>
              <span>Requested By - {{site.customer_name}} ({{site.customer_email}})</span>
              <span>{{site.state}}, {{site.city}}</span>
              <span>Site Coordinates
                <br> ({{site.latitude}} , {{site.longitude}})</span>
              <span class="site-Details-loctype">Location Type ({{site.city_area}})</span>
              <span class="site-Details-type">Type ({{site.pole_class}})</span>
              <span>Electrical Services (Yes)</span>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 approve-btn-con">
              <button type="button" class="primary-btn new-btn-light-back" (click)="createSite(site)">Approve</button>
              <button type="button" class="primary-btn new-btn-light-back" (click)="RejectSite(site)">Reject</button>
            </div> 
          </div>
          <!-- show list of new site requests ends -->

          <!-- show list of already approved sites starts -->
          <div *ngIf="siteApproved.length>0" class="site-app-rej-con">
            <h2>Sites Approved</h2>
            <div *ngFor="let site of siteApproved" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 site-details-con">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <agm-map [latitude]="site.latitude" [longitude]="site.longitude" [zoom]="8">
                  <agm-marker [latitude]="site.latitude" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'" [longitude]="site.longitude"></agm-marker>
                </agm-map>
              </div>
  
              <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 view-details-left-sec">
                <h3 *ngIf="site.sku">Site ID #{{site.sku}}</h3>
                <span>Requested By - {{site.customer_name}} ({{site.customer_email}})</span>
                <span>{{site.state}}, {{site.city}}</span>
                <span>Site Coordinates
                  <br> ({{site.latitude}} , {{site.longitude}})</span>
                <span class="site-Details-loctype">Location Type ({{site.city_area}})</span>
                <span class="site-Details-type">Type ({{site.pole_class}})</span>
                <span>Electrical Services (Yes)</span>
              </div>
            </div>
          </div>
          <!-- show list of already approved sites ends -->

          <!-- show list of already rejected sites starts -->
          <div *ngIf="siteRejected.length>0" class="site-app-rej-con">
            <h2>Sites Rejected</h2>
            <div *ngFor="let site of siteRejected" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 site-details-con">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <agm-map [latitude]="site.latitude" [longitude]="site.longitude" [zoom]="8">
                  <agm-marker [latitude]="site.latitude" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'" [longitude]="site.longitude"></agm-marker>
                </agm-map>
              </div>
  
              <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 view-details-left-sec">
                <h3 *ngIf="site.request_id">Request ID #{{site.request_id}}</h3>
                <span>Requested By - {{site.customer_name}} ({{site.customer_email}})</span>
                <span *ngIf="site.rejected_reason">Rejected Reason ({{site.rejected_reason}})</span>
                <span>{{site.state}}, {{site.city}}</span>
                <span>Site Coordinates
                  <br> ({{site.latitude}} , {{site.longitude}})</span>
                <span class="site-Details-loctype">Location Type ({{site.city_area}})</span>
                <span class="site-Details-type">Type ({{site.pole_class}})</span>
                <span>Electrical Services (Yes)</span>
              </div>
            </div>
          </div>
          <!-- show list of already approved sites ends -->

          <!-- Modal to reject site request starts -->
          <div class="modal" role="dialog" *ngIf="rejectSiteTrue">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <i class="fa fa-times" (click)="rejectSiteTrue=false"></i>
                  <div class="form-group">
                    <label for="rejectReason">Reason for Rejection:</label>
                    <textarea class="form-control" [(ngModel)]="rejectReason" name="rejectReason" rows="4" id="rejectReason"></textarea>
                  </div>
                  <div class="text-right">
                    <button type="button" class="primary-btn new-btn-light-back" [class.disabled-btn]="rejectReason == ''" [disabled]="rejectReason == ''" (click)="rejectSiteSubmit()">submit</button>
                    <a class="canceledit cancel-profile-edit" href="javascript:void(0)" (click)="rejectSiteTrue=false">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal to reject site request ends -->

        </div>
      </div>
    </div>
	</div>
	
	<site-selex-footer></site-selex-footer>	
</div>