<div class="container-fluid">

  <app-header-new (loggedUserDetails)="receivedUserData($event)"></app-header-new>
  <div class="loader-bg" [hidden]="!showLoader"></div>
  <div class="loader" [hidden]="!showLoader"></div>
  <site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>

  <div class="container-body">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-heading">
      <h1>Select your payment methods for sites reserved</h1>
      <p>Review added sites, select contact and payment method to confirm order</p>
    </div>

    <div class="payment-page">
      <form name="paymentForm" #reserveSitesForm="ngForm" (ngSubmit)="reserveSite(reserveSitesForm.value)">
        <div class="navigation-bottom payment">
          <div class="col-md-5 payment-left">
            <!-- selecting project contact is mandatory for reserving a site. user can also create new project contact from this section form starts-->
            <div>
              <h2>Choose your preferred project contact</h2>
              <div class="row project-contact-section">
                <div class="col-md-12">
                  <mat-form-field>
                    <mat-select name="projectcontactdropdown" placeholder="Contact" [(ngModel)]="selectedProjectedContact" required>
                      <mat-option *ngFor="let cont of projectContactData" [value]="cont">
                        {{cont.name}} ({{cont.email}})
                      </mat-option>
                    </mat-select>
                    <mat-error>Please select preferred project contact</mat-error>
                  </mat-form-field>
                  <a (click)="showNewContactForm = true" class="display-inline-block cursor-pointer">Add new contact</a>
                  <form class="row new-contact-add-section" #addNewContactPayment="ngForm" (ngSubmit)="addNewContact(addNewContactPayment.value)"
                    *ngIf="showNewContactForm">
                    <div class="col-lg-12 col-md-12 new-contact-box">
                      <mat-form-field>
                        <input matInput placeholder="Name" ngModel required name="newContactName">
                      </mat-form-field>
                    </div>
                    <div class="col-lg-12 col-md-12 new-contact-box">
                      <mat-form-field>
                        <input matInput placeholder="Phone" maxlength="10" ngModel pattern="[0-9]{6,10}" required name="newContactPhone">
                      </mat-form-field>
                    </div>
                    <div class="col-lg-12 col-md-12 new-contact-box">
                      <mat-form-field>
                        <input matInput placeholder="Company" ngModel required name="newContactCompany">
                      </mat-form-field>
                    </div>
                    <div class="col-lg-12 col-md-12 new-contact-box">
                      <mat-form-field>
                        <input matInput placeholder="Email" ngModel required name="newContactEmail" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$">
                      </mat-form-field>
                    </div>
                    <div class="col-md-12 new-contact-addbtn-box">
                      <a (click)="showNewContactForm = false" class="cancelAddContact">Cancel</a>
                      <button type="submit" [disabled]="addNewContactPayment.invalid" [ngClass]="{'disabled-btn':addNewContactPayment.invalid}" class="primary-btn primary-btn-main">Add</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- selecting project contact is mandatory for reserving a site. user can also create new project contact from this section form ends-->

            <!-- choose between two payment methods starts -->
            <h2>Choose your payment method</h2>
            <mat-radio-group name="paymentRadio" [(ngModel)]="paymentData.paymentType">
              <div class="row payment-card procurement-tile" [ngClass]="{selectedPaymentCard: paymentData.paymentType == 'procurement'}">
                <div class="col-xs-12">
                  <mat-radio-button (click)="poNumberControl.disable()" value="procurement">
                    Bill later
                    <p>E-Procurement</p>
                  </mat-radio-button>
                </div>
              </div>
              <div class="row payment-card ponumber-tile" [ngClass]="{selectedPaymentCard: paymentData.paymentType == 'ponumber'}">
                <div class="col-xs-12">
                  <mat-radio-button class="po-number-radio" (click)="poNumberControl.enable();paymentData.paymentType='ponumber'" value="ponumber">
                    <mat-form-field>
                      <input placeholder="PO Number" aria-label="PO Number" name="po_number" matInput [formControl]="poNumberControl" [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredponumberList | async" [value]="option.po_number">
                          {{option.po_number}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    <p *ngIf="paymentData.paymentType != 'ponumber'" class="pomessage">Use PO numbers to bill to your account</p>
                    <p *ngIf="paymentData.paymentType == 'ponumber'" class="text-danger po-error-msg">Field required for this payment method</p>
                  </mat-radio-button>
                </div>
              </div>
            </mat-radio-group>
            <!-- choose between two payment methods ends -->

            <!-- terms and condition. if we have sites from multiple cities we will show multiple t&c for all the cities starts -->
            <div style="margin-top:30px;">
              <mat-checkbox class="terms-checkbox-mat" name="termscheckboxOne" required [(ngModel)]="isTermsAcceptedOne">
                By clicking “I Agree” you agree to the terms of the Sales Direct Global User Agreement and Privacy Policy.
                <a target="_blank" href="../assets/pdf_files/site_seleX_tc.pdf"> (View)</a>
              </mat-checkbox>
              <mat-checkbox class="terms-checkbox-mat" name="termscheckboxTwo" required [(ngModel)]="isTermsAcceptedTwo">
                By clicking “I Agree” you represent and warrant that you have the authority to enter into a binding contract
                on behalf of Sublicensee and agree that Sublicensee will be bound by the terms of the Sublicense Agreement
                and will be obligated to, among other provisions, make rental payments.
                <ul class="sublic-links">
                  <li *ngFor="let subLic of subLicLinkArr">
                    <a target="_blank" href="assets/pdf_files/sl_agreements/{{subLic}}.pdf">{{subLic}}.pdf</a>
                  </li>
                </ul>
              </mat-checkbox>
              <button type="submit" name="paymentsubmit" id="place-order-btn" [disabled]="!isTermsAcceptedOne || !isTermsAcceptedTwo || !reserveSitesForm.valid || (paymentData.paymentType === 'ponumber' && (this.poNumberControl.value == null || this.poNumberControl.value == ''))"
                class="primary-btn primary-btn-main disabled-btn" [class.disabled-btn]="!isTermsAcceptedOne || !isTermsAcceptedTwo || !reserveSitesForm.valid || (paymentData.paymentType === 'ponumber' && (this.poNumberControl.value == null || this.poNumberControl.value == ''))">RESERVE SITES</button>
            </div>
            <!-- terms and condition. if we have sites from multiple cities we will show multiple t&c for all the cities ends -->
          </div>

          <!-- right pricing section starts -->
          <div class="payment-right col-md-7">
            <div class="col-md-12 reserve-sites sites-section" *ngIf="sitedataInPayment.length>0">
              <h2>Sites Reserved
                <a class="to-search-link" [routerLink]="['/site/site-search']" [queryParams]="{type:'findSiteByInput'}">Edit</a>
              </h2>
              <hr>
              <div *ngFor="let site of sitedataInPayment; let i = index">
                <div class="navigation-bottom-menu-bottom reserve-site-section">
                  <div class="added-sites-new-table">
                    <div class="index">{{i+1}}</div>
                    <div class="width100">
                      <p class="site-id">{{site.uniqueId}}
                        <span *ngIf="site.reserved" class="wait-list-mess">WAITLIST</span>
                      </p>
                      <span class="site-details">Site Coordinates ({{site.x}} , {{site.y}}), Location Type({{site.location_type}}), Type ({{site.pole_type}})</span>
                      <p *ngIf="site.optionalConduitStatus"><strong>Add Request for Nearby City-Owned Fiber and/or Conduit</strong></p>
                      <div class="fee-details">
                        <div class="site-left">
                          <div class="fee-div">
                            <span class="amount-type">Rent/Lease Monthly Fee:</span>
                            <span class="amount">${{site.rent_lease_fee | number}}</span>
                            <sub>.00</sub>
                          </div>
                          <p>Lease Term: 2 Years (Billed Monthly)</p>
                        </div>
                        <div class="site-right">
                          <div class="fee-div">
                            <span class="amount-type">One Time Fee:</span>
                            <span class="amount">${{parseInt(site.one_time_fee_price) | number}}</span>
                            <sub>.00</sub>
                          </div>
                          <p class="site-details">Site Selection Fee: ${{site.site_selection_fee}}.00</p>
                          <p class="site-details" *ngIf="site.optionalFeeStatus">Site Survey &amp; Lease Exhibit Fee: ${{site.site_survey_lease_fee}}.00</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- right pricing section ends -->
            
            <!-- total price section starts -->
            <div class="col-md-12 payment-total-sites-section">
              <div class="total-sites-section">
                <div class="added-sites-new-table added-site-total-table">
                  <div class="index"> </div>
                  <div class="width100">
                    <div class="total-text">TOTAL</div>
                    <div class="fee-details">
                      <div>
                        <div class="fee-div">
                          <span class="amount-type">Rent/Lease Monthly Fee:</span>
                          <span class="amount">${{totalRentLeaseFee | number}}</span>
                          <sub>.00</sub>
                        </div>
                      </div>
                      <div>
                        <div class="fee-div">
                          <span class="amount-type">One Time Fee:</span>
                          <span class="amount">${{totalOneTimeFee | number}}</span>
                          <sub>.00</sub>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- total price section starts -->

            <!-- shows if user has added any wait list i.e. already reserved site along with some available site -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wait-list-con" *ngIf="waitListStringArray.length>0">
              <p>
                <span class="glyphicon glyphicon-ok"></span> Following sites have been added to your waitlist
              </p>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <agm-map *ngFor="let waitSite of waitListStringArray" [latitude]="waitSite.x" [longitude]="waitSite.y" [zoom]="8">
                  <agm-marker [latitude]="waitSite.x" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/green-dot.png'" [longitude]="waitSite.y">
                    <agm-info-window [isOpen]="true">
                      <strong>{{waitSite.uniqueId}}</strong>
                    </agm-info-window>
                  </agm-marker>
                </agm-map>
              </div>
            </div>

          </div>
          <div class="clearfix"> </div>
        </div>
      </form>
    </div>
  </div>

  <site-selex-footer></site-selex-footer>
</div>
